@import "less/lib/bootstrap/bootstrap";

//css3 animations
@import "less/lib/animate";


// Global variables
@img-root: "../img";
@nav-height-desktop: 74px;
@nav-height-small: 54px;


// Breakpoints
@screen-mega-above: ~"screen and (min-width: 1440px)";
@screen-large-above: ~"screen and (min-width: 1201px)";
@screen-large: ~"screen and (min-width: 1200px)";
@screen-medium-above: ~"screen and (min-width: 992px)";
@screen-medium: ~"screen and (max-width: 991px)";
@screen-small-above: ~"screen and (min-width: 768px)";
@screen-small: ~"screen and (max-width: 767px)";
@screen-tiny-above: ~"screen and (min-width: 481px)";
@screen-tiny: ~"screen and (max-width: 480px)";


// General styles
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Gotham SSm", helvetica, arial, sans-serif;
	text-align: center;
}
a { color: #51A09E; }
a:hover, a:focus { 
    color: #51A09E;
    opacity: 0.7;
    text-decoration: none;
}

body { background-color: #fff; }


// Content
img { 
    max-width: 100%;
    height: auto;
}
.row {
    background-color: #fff;
    border-bottom: 2px solid #fff;
    padding-top: 33px;
    padding-bottom: 33px;
    
    &.title {
//        background: #222 url('../img/you-title.jpg') no-repeat;
        background: #333;
        background-size: cover;
        background-position: 50% 50%;
        
        h1 {
            font-weight: bold;
            font-size: 64px;
            margin: 66px 0 22px 0;
            text-transform: uppercase;
            color: #fff;
            text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
        }
        h2 {
            margin: 0;
            font-size: 24px;
            color: #fff;
            text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
        }
    }
    
    &.triptych {
        border-bottom: none;
        padding-bottom: 0;
        background-color: #f5f5f5;
        
        img { display: block; }
        h2 {
            text-transform: uppercase;
            margin: 0 0 22px 0;
            font-weight: bold;
            font-size: 28px;
        }
        p {
            margin: 5px 0 0 0;
            color: #555;
            font-size: 12px;
            font-style: italics;
        }
    }

    &.seedtoselfie {
        padding-top: 0;
        background-color: #f5f5f5;
    }
    &.video {
        h2 {
            text-transform: uppercase;
            margin: 0 0 22px 0;
            font-weight: bold;
            font-size: 28px;
        }
    }
}


@media @screen-medium {
	
}//992

@media @screen-large {

}//1200