@import "less/lib/bootstrap/bootstrap";

//css3 animations
@import "less/lib/animate";

// Global variables
@img-root: "../img";


// Breakpoints
@screen-mega-above: ~"screen and (min-width: 1440px)";
@screen-large: ~"screen and (min-width: 1200px)";
@screen-medium-above: ~"screen and (min-width: 993px)";
@screen-medium: ~"screen and (max-width: 992px)";
@screen-small-above: ~"screen and (min-width: 768px)";
@screen-small: ~"screen and (max-width: 767px)";
@screen-tiny-above: ~"screen and (min-width: 481px)";
@screen-tiny: ~"screen and (max-width: 480px)";


// General styles
//html { overflow-y: scroll; } //force scrollbar

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Gotham SSm", helvetica, arial, sans-serif;
}

body { background-color: #000; }
section { background-color: #fff; }

//wrapper
.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    display: none;

    &.show { 
        visibility: visible;
        display: block;
    }
}

// Animations
.slideInUp {
    /* keyframes for this are defined in app.js */

	-webkit-animation-name: slideInUp;
	-moz-animation-name: slideInUp;
	-o-animation-name: slideInUp;
	animation-name: slideInUp;
	
	-webkit-animation-duration: .1s;
	-moz-animation-duration: .1s;
	-ms-animation-duration: .1s;
	-o-animation-duration: .1s;
	animation-duration: .1s;
	
	@media @screen-small-above { 
		-webkit-animation-duration: .5s;
		-moz-animation-duration: .5s;
		-ms-animation-duration: .5s;
		-o-animation-duration: .5s;
		animation-duration: .5s;
	}
}

.slideOutDown {
    /* keyframes for this are defined in app.js */

	-webkit-animation-name: slideOutDown;
	-moz-animation-name: slideOutDown;
	-o-animation-name: slideOutDown;
	animation-name: slideOutDown;
	
	-webkit-animation-duration: .1s;
	-moz-animation-duration: .1s;
	-ms-animation-duration: .1s;
	-o-animation-duration: .1s;
	animation-duration: .1s;
	
	@media @screen-small-above { 
		-webkit-animation-duration: .5s;
		-moz-animation-duration: .5s;
		-ms-animation-duration: .5s;
		-o-animation-duration: .5s;
		animation-duration: .5s;
	}
	
}

//navigation
.backer,
nav .nav-item-wrapper.backer,
.video-wrapper.backer {
	@media @screen-small-above { 
    	display: block;
    }
}

//touch navigation
.touch .backer,
.touch nav .nav-item-wrapper.backer {
	display: block;
}


//primary navigation
nav {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.8);
	color: #fff;
	display: block;
	z-index: 100;
	overflow: hidden;
	@media @screen-small { display: none; }
	
	/*&.nav-reveal {
		background-image: url('@{img-root}/people-loop2.gif');
		background-position: 60% 70%;
	    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	    background-size: cover;
	}*/

    .clearfix();
	
	.nav-wrapper { 
		padding: 0 20px 5px 20px; 
		.touch &{
			@media @screen-small-above { padding: 0 22px 22px 22px; }
		}
	}
	.nav-item-wrapper { display: none; }
	
	h3 {
	    font-size: 12px;
	    float: right;
	    margin: 0;
	    line-height: 34px;
	    text-transform: uppercase;
	    opacity: 0.7;
	    @media @screen-small-above { opacity: 1; font-size: 14px; line-height: 74px; }
	    
	    &#nav-chapter-title { 
	        float: left;
	        font-weight: bold;
	        text-transform: uppercase;
	        display: none;
	        @media @screen-small-above { 
				&.waypoint-show {display: block;}
				background: transparent url("@{img-root}/arrow.png") no-repeat;
				background-position: center right;
				padding-right: 25px;
			}
	    }
		
	    &#nav-chapter-title-prompt { 
	        float: left;
	        display: block;
	        background: transparent url('@{img-root}/down-square.png')  0 24px no-repeat;
	        padding-left: 32px;
	        font-size: 22px;
			text-transform: none;
			font-weight: normal;
			display: none;
			@media @screen-small-above { 
				display: block;
				&.waypoint-hide {display: none;}
			}
	    }
	
	    &:hover {
	        cursor: pointer;
	        opacity: 1;
	    }
	}
	
	ul {
	    margin: 0;
	    padding: 0;
	    list-style-type: none;
	    
	    &#nav-secondary {
	        padding-top: 30px;
	        @media @screen-small-above {padding-top: 0;}
	        float: left;
	        
	        > li {
	            @media @screen-small-above {
	            	padding-top: 0;
		            display: inline-block;
		            margin-right: 12px;
		            line-height: 74px;
		        }
	
	            &:hover {
	                cursor: pointer;
	                opacity: 0.7;
	            }
	        }
	    }
	    &#nav-primary {
	        clear: both;
	        
        	> li {
	            &:hover {
	                cursor: pointer;
	                opacity: 0.7;
	            }
				
				p {
					text-transform: uppercase;
				}
	        }
	        
	        @media @screen-small-above {
		        display: table;
		        width: 100%;
		        .clearfix();
		        
		        > li {
		            display: table-cell;
		            width: 20%;
		            background-color: #333;
					-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
					background-position: 50% 50%;
					text-align: center;
		            padding-top: 100px;
		            border-left: 2px solid #000;
		            height: 100px;
		            
		            
		            &:first-child { border-left: none; }
		            &:hover {
		                cursor: pointer;
		                opacity: 0.7;
		            }
					
					p {
						background-color:rgba(0,0,0,0.5);
						margin: 0;
						padding: 10px 0;
					}
		        }
	        }
	    }
	}
	
	&.slideInUp {
	    h3#nav-chapter-title,
	    h3#nav-chapter-title-prompt {
	        display: none;
	    }
	}
}

.btn-chapter {
      position: relative;
      padding-right: 30px;
      @media @screen-small-above { padding-right: 23px; }
      overflow: hidden;
}

.hamburger {
  position: absolute;
  top: 10px;
  right: 5px;
  @media @screen-small-above {top: 30px; right: 0;}
  background: transparent url('@{img-root}/hamburger.png') no-repeat;
  .slideInUp & { background-image: url('@{img-root}/close.png'); }
  .slideOutDown & { background-image: url('@{img-root}/hamburger.png'); }
  width: 14px;
  height: 12px;
  display: block;
}

//touch navigation
.touch nav {
	position: fixed;
	bottom: 0;
	right: 0;
}

//showing on small screen
@media @screen-small { 
	.touch nav {
		display: block;
	}
}

// Chapter navigation thumbnails
@media @screen-small-above {

	.nav-plants {
			background: url('@{img-root}/plants-thumb.jpg');
		}
		
		.nav-machines {
			background: url('@{img-root}/robots-thumb.jpg');
		}
		
		.nav-people {
			background: url('@{img-root}/humans-thumb.jpg');
		}
		
		.nav-boxes {
			background: url('@{img-root}/ship-thumb.jpg');
		}
		
		.nav-you {
			background: url('@{img-root}/you-thumb.jpg');
		}
}

.home {
  position: absolute;
  top: 27px;
  left: 0;
  background: transparent url('@{img-root}/home.png') no-repeat;
  width: 15px;
  height: 16px;
  display: block;
  @media @screen-small {display: none;}
}

.about {
  position: absolute;
  top: 27px;
  left: 0;
  background: transparent url('@{img-root}/tshirt.png') no-repeat;
  width: 18px;
  height: 19px;
  display: block;
  @media @screen-small {display: none;}
}

.buy {
  position: absolute;
  top: 27px;
  left: 0;
  background: transparent url('@{img-root}/buy.png') no-repeat;
  width: 18px;
  height: 19px;
  display: block;
  @media @screen-small {display: none;}
}

//footer navigation 


.next-chapter-label,
.btn-explainer-prompt {
  cursor: pointer;
}
.next-chapter:hover,
.btn-explainer-prompt:hover {
  opacity: 1;
  cursor: pointer;
}
.btn-next-chapter,
.btn-explainer-prompt {
  cursor: pointer;
  //opacity: .8;
}
.btn-next-chapter:hover,
.btn-explainer-prompt:hover {
  opacity: 1;
  cursor: pointer;
}
.btn-next-chapter {
  background: #000000 url("@{img-root}/machines-thumb-footer-1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 0%;
  position: relative;
  height: 360px;
  border-top: 4px solid #000;
  overflow: hidden;
  position: relative;
  z-index: 200;
}
.next-chapter {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.next-chapter .next-chapter-label {
  color: #fff;
  padding: 30px 0;
  padding-right: 40px;
  text-align: right;
  margin: 0 20px 0 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
position: relative;
}
.next-chapter .arrow-right {
  background: transparent url("@{img-root}/arrow.png") no-repeat;
  width: 18px;
  height: 16px;
  display: block;
  position: absolute;
  top: 40px;
  right: 10px;
}
.next-chapter-label em {
  font-style: normal;
  font-size: 18px;
  line-height: 8px;
  position: relative;
  top: -5px;
  font-weight: normal;
}

.nav-title,
.nav-about,
.nav-buy {
	text-transform: uppercase;
	margin-bottom: 10px;
	@media @screen-small-above {
	  position: relative;
	  padding-left: 23px;
	  overflow: hidden;
    }
}

.footer-video {
    width: 100%;
    margin-top: -300px;
    
    .touch & { display: none; }
}


// Explainer text
.explainer {
	background-color: #fff;
    padding-top: 33px;

    @media @screen-tiny { padding-top: 22px; }
	@media @screen-small-above {
        body.chapter-about &,
        body.chapter-buy & {
            padding-bottom: 88px;
        }
    }

    h2 {
        font-weight: 700;
        margin-bottom: 1em;
        line-height: 1.5;
        color: #121212;
        @media @screen-tiny { font-size: 22px; }
    }
    h3 {
        margin: 2.6em 0 1em 0;
        line-height: 1.5;
        color: #121212;
        font-weight: bold;
        text-transform: uppercase;
    }
    h4 {
        margin: 0 0 1.5em;
        text-transform: uppercase;
        color: #121212;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
    }
    p,
    dl {
        margin: 0 0 1.5em 0;
        font-size: 20px;
        line-height: 1.5;
        color: #444;
    }
    
    dt {
        margin-top: 1.5em;
        &:first-child { margin-top: 0; }
    }
    
    .credits {
        p { font-size: 14px; }
    }
    
    .date {
        color: #999;
        font-size: 80%;
        white-space: nowrap;
    }
    
    .graphic {
        margin: 1.25em 0 2.75em 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 1.25em 0;
        
        dl {
            margin: 0;

            dt {
                margin: 1.5em 0 .5em 0;
                font-size: 16px;
                
                &:first-child { margin-top: 0; }
            }
            dd {
                font-size: 16px;
                line-height: 1.5;
            }
        }
        
        h5 {
            font-weight: normal;
            color: #666;
            margin: -1.5em 0 1.5em 0;
            font-size: 14px;
            line-height: 1.4;
        }
        
        h6 {
            font-size: 14px;
            line-height: 1.4;
            font-weight: bold;
            color: #333;
            margin: 0 0 1.5em 0;
        }
        
        img {
            display: block;
            margin-bottom: 1em;

            &.chart {
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        
        table {
            border-collapse: collapse;
            font-size: 14px;
            line-height: 1.4;
            width: 100%;
            margin-bottom: 1.5em;
            
            td,
            th {
                padding: 10px;
                text-align: left;
                border-bottom: 2px solid #eee;
                
                &.amt { text-align: right; }
            }
            
            th { 
                border-bottom: 2px solid #ccc;
                padding-top: 0;
            }

            tr { 
                vertical-align: top;
                
                &.shadedrow td {
                    background-color: #f7f7f7;
                    font-weight: bold;
                }
            }
        }
        
        .credit {
            font-size: 12px;
            color: #999;
            margin-bottom: 0;
        }
        
        .footnote {
            font-size: 12px;
            color: #999;
            margin-bottom: 11px;
        }
        
        &.d3-chart {
            svg {
                font-family: Arial, Helvetica, sans-serif;
                margin-bottom: 1em;
            }
            .axis {
                font-size: 12px;
                color: #666;

                path,
                line {
                    fill: none;
                    stroke: #666;
                    shape-rendering: crispEdges;
                }
                
                &.y path { display: none; }
                &.y .tick line { display: none; }
            }
            .grid {
                path { display: none; }
                .tick {
                    stroke: #ccc;
                    stroke-dasharray: 1px 3px;
                    stroke-width: 1px;
                    shape-rendering: crispEdges;
                }
            }
            .key {
                font-family: Arial, Helvetica, sans-serif;
                margin: 0 0 1em 0;
                padding: 0;
                list-style-type: none;

                .key-item { 
                    display: inline-block;
                    margin: 0 18px 0 0;
                    padding: 0;
                    line-height: 15px;
                    
                    b {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        margin-right: 6px;
                        float: left;
                    }
                    label {
                        white-space: nowrap;
                        font-size: 12px;
                        color: #333;
                        font-weight: normal;
                    }
                }
            }
            .line {
                fill: none;
                stroke: #333;
                stroke-width: 3px;
            }
            .bars rect { fill: #8BC0BF; }
            .country text,
            .amounts text {
                font-weight: normal;
                font-size: 12px;
                fill: #333;
            }
            #apparel-wages-d3 {
                .amounts text.bangladesh,
                .country text.bangladesh { 
                    font-weight: bold;
                }
                .bars rect.bangladesh { 
                    fill: #11605E;
                }
            }
        }
        
        &.cotton-rating {
            ul {
                display: block;
                margin: 0;
                padding: 22px;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.5);

                @media @screen-tiny-above { 
                    padding: 0;
	                height: auto;
	                display: table;
	                background: none;
                }
                
                > li {
					display: block;
                    width: auto;
					margin-bottom: .5em;
					text-align: right;
                    color: #eee;
					
	                @media @screen-tiny-above { 
			            display: table-cell;
	                    width: 20%;
	                    vertical-align: top;
	                    text-align: center;
					}

                    b {
                        display: inline-block;
						width: 125px;
						font-size: 14px;
						text-align: left;
						float: left;
                        
                        @media @screen-tiny-above { 
                        	display: block;
	                        font-weight: normal;
	                        text-transform: uppercase;
	                        font-size: 12px;
	                        color: #fff;
	                        width: auto;
	                        text-align: center;
	                        float: none;
                        }
                    }
                    i {
                        display: inline-block;
                        font-size: 14px;
                        font-style: normal;
                        
                        @media @screen-tiny-above { 
                        	display: block;
	                        font-size: 26px;
	                        color: #8BC0BF;
                        }
                    }
                    span {
                          
                        display: inline-block;
                        font-style: normal;
                        font-size: 12px;
                        padding-left: 3px;
                        
                        @media @screen-tiny-above { 
                        	display: block;
	                        font-style: italic;
	                        font-size: 12px;
	                        color: #999;
                        }
                    }
                }
            }
            .cotton-sample {
                background: url('@{img-root}/gr-plants-rating-480.jpg') center bottom;
                background-size: cover;
                .clearfix();
                
                @media @screen-tiny-above { 
                    background-image: url('@{img-root}/gr-plants-rating-768.jpg');
                    padding: 33px 11px 400px 11px;
                }
                @media @screen-small-above { 
                    background-image: url('@{img-root}/gr-plants-rating-992.jpg');
                }
                @media @screen-medium-above { 
                    background-image: url('@{img-root}/gr-plants-rating-1200.jpg');
                }
            
            }
        }

        &.cotton-subsidies {
            b {
                display: block;
                background: url('@{img-root}/ico-subsidies.png') no-repeat;
                height: 100px;
                width: 100px;
                float: left;
                margin-top: 5px;

                @media @screen-tiny { 
                    float: right;
                    margin-left: 22px;
                }
            }
            .crop-insurance b { background-position: 0 0; }
            .prices-fall b    { background-position: 0 -100px; }
            .cotton b         { background-position: 0 -200px; }

            dl {
                margin-bottom: 2em;
            }
            dt {
                border-top: 1px dotted #eee;
                padding-top: 1.5em; 
                
                &:first-child {
                    border-top: none;
                    padding-top: 0;
                }
            }
            dd { 
                margin-left: 122px;

                @media @screen-tiny { margin-left: 0; }
            }
            strong {
                display: block;
                margin-left: 122px;

                @media @screen-tiny { margin-left: 0; }
            }
        }
        
        &.cotton-yields {
            table {
                th {
                    vertical-align: middle;
                    line-height: 20px;
                    font-size: 14px;
                    color: #17807E;
                    text-transform: uppercase;
                }
                tr th:first-child,
                tr td:first-child {
                    padding-left: 0;
                }
                tr th:nth-child(2),
                tr td:nth-child(2) {
                    padding-right: 0;
                }
            }
            .totals {
                h6 {
                    padding-bottom: 10px;
                    border-bottom: 2px solid #ccc;
                    margin-bottom: 8px;
                    line-height: 20px;
                    color: #17807E;
                    font-size: 14px;
                    text-transform: uppercase;
                }
                p {
                    font-size: 14px;
                    line-height: 1.6;
                    margin-bottom: .5em;
                    
                    strong {
                        font-size: 18px;
                        color: #11605E;
                        white-space: nowrap;
                    }
                    
                    &.key {
                        position: absolute;
                        bottom: 0;
                        left: 15px;
                        text-align: left;
                        font-size: 9px;
                        color: #999;
                        
                        i {
                            display: block;
                            float: left;
                            margin-right: 3px;
                            width: 12px;
                            height: 12px;
                            background: url('@{img-root}/ico-shirt.gif') no-repeat 50% 50%;
                        }
                    }
                }
                img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        
        &.shipping-container {
            h6 {
                .clearfix();
                text-align: center;

                @media @screen-tiny-above {
                    margin-left: 72px;
                    text-align: left;
                }
                
                strong { color: #17807E; }
                b {
                    width: 50px;
                    height: 50px;
                    display: block;
                    background-image: url('@{img-root}/ico-boxes.png');
                    background-repeat: no-repeat;
                    margin: 0 auto 5px auto;
                    
                    @media @screen-tiny-above {
                        float: left;
                        margin: 2px 0 0 -72px;
                    }
                }
                &.boxes b { background-position: 0 -100px; }
                &.shirts b { background-position: 0 0; }
            }
        }

        &.yarn-types {
            .row {
                b {
                    background-size: cover;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    display: block;
                    height: 150px;
                    border-radius: 10px;
                }
                &.denim b { background-image: url('@{img-root}/yarn-denim-480.jpg'); }
                &.hanes b { background-image: url('@{img-root}/yarn-hanes-480.jpg'); }
                &.jockey b { background-image: url('@{img-root}/yarn-jockey-480.jpg'); }
                &.sock b { background-image: url('@{img-root}/yarn-sock-480.jpg'); }
                &.woven b { background-image: url('@{img-root}/yarn-woven-480.jpg'); }
                
                @media @screen-small {
                    .col-sm-4 { margin-bottom: 1em; }
                }
            }
            h6 { 
                margin-bottom: .5em;
                color: #444;
                font-size: 16px;
            }
            p { 
                font-size: 16px;
                line-height: 1.5;
                margin: 0;
                color: #444;
            }
        }
        
        .filmstrip-outer-wrapper {
            width: 100%;
            margin-bottom: 1em;

            .filmstrip-wrapper {
                width: 720px;
                height: 528px;
            }

            .filmstrip {
                width: 100%;
                height: 100%;
                background-size: 100% 2500%;
                background-image: url('@{img-root}/filmstrip-cotton-archive-480.jpg');
                @media @screen-small-above { 
                    background-image: url('@{img-root}/filmstrip-cotton-archive.jpg');
                }
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                backface-visibility: hidden;

                &.animated {
                    -webkit-animation: filmstrip 4s infinite;
                    -moz-animation: filmstrip 4s infinite;
                    animation: filmstrip 4s infinite;
                }
            }
        }
    }
    
    .photo-row {
        margin-bottom: 2em;

        img {
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            display: block;
        }
        .caption {
            display: block;
            margin-top: 11px;
            color: #787878;
        }
        body.chapter-about & {
            .photo1,
            .photo2 {
                display: none;

                @media @screen-medium-above { display: block; }
            }
        }

        &.yarn-spinning-photos {
            margin-bottom: 0;
            
            div:nth-child(1),
            div:nth-child(2) { margin-bottom: 1.5em; }
        }
    }

    .table-of-contents {
        font-size: 14px;

        a { font-weight: bold; }
        dt {
            margin-bottom: 1em;
            text-transform: uppercase;
            color: #4F5057;
        }
        li { margin-bottom: 1em; }
    }
}


//titlecard
.title-video {
	opacity: .5;
}

.titlecard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	text-align: center;
	display: block;

    h1 {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
        @media @screen-small-above {
	        font-size: 70px;
	        margin: 50px 0 0 0;
        }
        
        @media @screen-medium-above {
	        font-size: 90px;
	        margin: 110px 0 0 0;
        }
        
        @media @screen-large {
	        font-size: 120px;
	        margin: 150px 0 0 0;
        }
        
        @media @screen-mega-above {
	        font-size: 140px;
        }

        #title & {
            font-size: 28px;
            margin: 0 auto;
            
            @media @screen-small-above { 
			  font-size: 60px;
			}
            
			@media @screen-medium-above { 
			  font-size: 70px;
			  max-width: 700px;
			}
			
        }
    }

    h2 {
    	font-size: 16px;
        color: #fff;
        text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
        max-width: 500px;
        margin: 5px auto;
        
        @media @screen-small-above {
        	margin: 0 auto 44px auto;
	        font-size: 28px;
			line-height: 1.2;
			margin-bottom: 33px;
        }
        
        @media @screen-medium-above {
	        font-size: 48px;
	        max-width: 700px;
        }

        #title & {
			@media @screen-small-above { 
				margin: 10px auto 10px auto;
			  	font-size: 32px;
	            text-transform: none;
	            max-width: 700px;
			}
		
			@media @screen-medium-above { 
	            font-size: 32px;
			}
		
        }
    }
    
    .btn.btn-play {
        border-radius: 0;
        background-color: #fff;
        text-transform: uppercase;
        font: bold 18px "Gotham SSm", helvetica, arial, sans-serif;
        padding: 0 22px;
        line-height: 44px;
        
        &:hover {
            background-color: #578d78;
            color: #fff;
            cursor: pointer;
        }
    }
}

.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #000;
    height: 100%;
    width: 100%;
    margin-top: -10000px;
    overflow: hidden;
    
    .video-inner-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    iframe { }

    .video-loaded & {
        iframe { visibility: hidden; }
    }
    
    .video-playing & {
        margin-top: 0;

        iframe { visibility: visible; }
    }
}

.layer-media {
	width: 100%;
    height: 100%;
	background-color: #000;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
	overflow: hidden;
	
	.chapter-machines & {
		.touch &{
			background-image: url('@{img-root}/machines-title.jpg');
		}
	}
	/*
	.chapter-people & {
        background-image: url('@{img-root}/walk-title.jpg');
	}
	.chapter-boxes & {
        background-image: url('@{img-root}/ships-title.jpg');
	}
	*/
	
	.chapter-you & {
        background-image: url('@{img-root}/you-title.jpg');
	}
	/*.chapter-buy & {
        background-image: url('@{img-root}/you-title.jpg');
	}*/
}

.touch .chapter-title .layer-media, .touch #title {
	width: 100%;
    height: 100%;
	background-color: #000;
	background-image: url('@{img-root}/home-title.jpg');
	background-position: 60% 70%;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
	overflow: hidden;
}

//buy a t-shirt

.chapter-buy {
	background: url('@{img-root}/you-title.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    .layer {background: transparent;}
    
    #chapter-nav.nav-reveal {background-image: none;}
}

#buy {
	
    .layer-media, .titlecard {background: transparent;}

	.shirt-preview {
		display: inline-block;
		width: 150px;
		margin-top: 30px;
		@media @screen-medium-above { 
    	display: block;
    	width: 100%;
		}
	}

	.container{
	background-color: transparent;
	margin-top: 60px;
	padding-bottom: 100px;
	text-align: left;
	border: 2px solid #444;
	background-color: #fff;
	}
	
	h2 {
		font-size: 36px;
		margin: 40px 0 0 0;
		color: #000;
		text-transform: uppercase;
		text-shadow: none;
		font-weight: bold;
	}
	
	h3 {margin-top: 5px;}
	
	p {
		margin: 10px 0 20px 0;
		em {color: red;}
	
	}
	
	.form-group h3 {
		
		font-weight: bold;
		border-top: 2px solid #555;
		padding-top: 20px;
	}
	
	.select-shirt h3 {border: none;}
	
	
	form {
	margin: 10px 0;
	text-align: left;
	}
	
	input, select {
		margin-bottom: 20px;
	}
	
	.station-results {
	border-top: 1px solid #ddd;
	
	}
	
	.station .radio {
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
		}
	
	.explainer {visibility: hidden; position: absolute; bottom: -100px; left: 0; height: 0;}
	
}

.chapter-title {
	.explainer {visibility: hidden; position: absolute; bottom: -100px; left: 0; height: 0;}
}


//touch specific styles
.touch {
	.video-wrapper,
    .video-inner-wrapper {
        margin-top: 0;
        position: relative;
        
        iframe { visibility: visible; }
    }
    
    .titlecard {
        height: auto;
        z-index: 10;
        
    }
    
    .chapter-title .titlecard {
        display: block;
    }
    
    .title-video {
        display: none;
    }
    
    #nav-chapter-title-prompt {
	    display: none;
    }
    
    .layer-media {height: auto;}
    
    .chapter-title .layer-media {height: 100%;}
    
    .video-playing .titlecard {display: none;}
    
    .explainer {padding-top: 0;}
    .explainer h2, .explainer h3 {margin: 15px 0 0 0;}
    
    
}//touch

//home page
.npr-logo {
	width: 70px;
	margin: 10px 0;
	@media @screen-small-above { 
	    width: 100px;
		margin: 50px 0 15px 0;
	}
}

//home page navigation for touch devices
.index-nav {
	display: none;
}

.touch .index-nav {
	display: block;
}

.touch {
	.btn-play,
	.chapter-title nav {
	  display: none;
	}
	
	.index-nav {
		color: #fff;
		text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
		
		h3 {
			margin: 10px 0 0 0;
			font-size: 22px;
	        color: #fff;
	        text-transform: uppercase;
	        font-weight: bold;
	        text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
	        @media @screen-small-above {
		        font-size: 40px;
	        }
	    }
		
		ul {
		  padding: 0;
		  margin: 10px 0 0 0;
		}
		  
		li {
		font-size: 12px;
		margin: 0 3px 10px 0px;
		padding: 10px 10px 0 10px;
		line-height: 1;
		border: 1px solid #555;
		display: inline-block;
		background-color: rgba(0,0,0,0.5);
		list-style-type: none;
		background-image: none !important;
		font-weight: bold;
		text-transform: uppercase;
			
			@media @screen-small-above {
				text-align: left;
				margin: 0 10px 10px 0px;
				font-size: 32px;
			}
		}
	  
	}
}// more touch

@media @screen-medium {
	
}//992

@media @screen-large {

}//1200