@import "less/lib/bootstrap/bootstrap";
@import "less/lib/font-awesome/font-awesome";
@import "less/lib/font-awesome/font-awesome";

//css3 animations
@import "less/lib/animate";

// Global variables
@img-root: "../img";


// General styles
#econ {
	position: relative;
	background-color: #fff;
	padding-top: 200px;
	border-top: 20px solid #000;
	z-index: 20;
	display: none;
	}
	
#econ .container {background-color: #fff;}
	
.factory { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: url('@{img-root}/walk-title.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
	
#video-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	height: 100%;
	width: 100%;
	padding-top: 50px;
	}
	
.econ-in {
	display: block !important;
	
	}
	
.backer {z-index: 15;}
	
.factory h1 {
	font-family: "Gotham SSm", helvetica, arial, sans-serif;
	font-size: 140px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	display: table;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 20%;
	width: 100%;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
	}
	
#show-econ {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	}
	
#hide-econ {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	display: none;
	}


// Media queries
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 480px) {
}
