<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <title>{{ PROJECT_NAME }}</title>

    <meta name="description" content="{{ PROJECT_DESCRIPTION }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://media.npr.org/favicon.ico" />

    <!-- CHARTBEAT -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <!-- CSS -->
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.push('less/app.less') }}
    {{ CSS.render('css/app-preview.min.css') }}

    <!-- JS -->
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/lib/jquery-1.8.3.js') }}
    {{ JS.push('js/lib/html5.js') }}
    {{ JS.push('js/lib/modernizr.custom.82260.js') }}
    {% block extra_head_js %}{% endblock extra_head_js %}
    {{ JS.render('js/app-preview-header.min.js') }}

    {# Twitter #}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@nprapps">
    <meta name="twitter:image" content="{{ TWITTER.IMAGE_URL }}" />

    {# Facebook #}
    <meta property="og:title" content="{{ FACEBOOK.TITLE }}" />
    <meta property="og:url" content="{{ FACEBOOK.URL }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ FACEBOOK.DESCRIPTION }}" />
    <meta property="og:image" content="{{ FACEBOOK.IMAGE_URL }}" />
    <meta property="og:site_name" content="NPR.org" />
    <meta property="fb:app_id" content="{{ FACEBOOK.APP_ID }}" />

    {# Google News #}
    <meta name="thumbnail" content="{{ GOOGLE.IMAGE_URL }}" />

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <a class="sr-only" href="#content">Skip To Content</a>


    {% block outer_content %}
    {% endblock outer_content %}


    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/app.js') }}
    {{ JS.render('js/app-preview-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}

    <!-- GOOGLE ANALYTICS -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ID }}']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>


    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_async_config={};
        /** CONFIGURATION START **/
        _sf_async_config.uid = 18888;
        _sf_async_config.domain = "npr.org";
        /** CONFIGURATION END **/
        (function(){
            function loadChartbeat() {
                window._sf_endpt=(new Date()).getTime();
                var e = document.createElement("script");
                e.setAttribute("language", "javascript");
                e.setAttribute("type", "text/javascript");
                e.setAttribute("src",
                    (("https:" == document.location.protocol) ?
                     "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" :
                     "http://static.chartbeat.com/") +
                    "js/chartbeat.js");
                document.body.appendChild(e);
            }
            var oldonload = window.onload;
            window.onload = (typeof window.onload != "function") ?
                loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
    </script>
</body>
</html>
