    	<div class="layer-media">
    	
			<div class="titlecard  animated fadeIn">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>{{ COPY.machines.fullname }}</h1>
							<h2>{{ COPY.machines.chapter_subtitle }}</h2>
							<button class="btn btn-play">{{ COPY.content.chapter_play_button_label }}</button>
							</div><!-- /.col --> 
					</div><!-- /.row -->  
				</div><!-- /.container -->				
			</div><!-- /.titlecard --> 
	
			<div class="video-wrapper">
			    <div class="video-inner-wrapper">
			        <iframe src="" id="video-machines" width="400" height="225" frameborder="0"></iframe>
			    </div>
			</div><!-- /.video-wrapper --> 
			
        </div><!-- /.layer-media --> 
        
        <div class="explainer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <h2>{{ COPY.machines.explainer_headline }}</h2>
                        <p>There are six miles of yarn in a single Planet Money T-shirt. If any of that yarn is too thick or too thin, even by a little bit, the T-shirt could start falling apart after just a few washes. (Yarn, by the way, is what ordinary people call thread. In the garment business, it’s called yarn.)</p>
                        <p>Spinning yarn is high-tech and shockingly complex. The yarn for the Planet Money T-shirt had to meet dozens of specifications -- thickness, tenacity, the amount of twist, the direction of the twist. Newtons per tex!</p>
                        <p>But even though we ordered thousands of shirts, our supplier, Jockey, wouldn't tell us exactly what those specs were. "That's our special sauce," said Marion Smith, a senior vice president at Jockey. It's like the secret formula for Coke, but softer on the skin.</p>

                        <div class="graphic yarn-types">
                            <h4>{{ COPY.machines.graphic_yarn_headline }}</h4>
                            <h5>{{ COPY.machines.graphic_yarn_subhed }}</h5>
                            
                            <div class="row jockey">
                                <div class="col-sm-4"><b></b></div>
                                <div class="col-sm-8">
                                    <h6>Planet Money Women’s T-shirt</h6>
                                    <p>Two words: compact ringspun. A machine sucked the fibers close together when the yarn for our shirt was spun, creating yarn that makes an extra-smooth shirt. The yarn has relatively few twists per inch, which makes the fabric soft and comfortable.</p>
                                </div>
                            </div>
                            
                            <hr />

                            <div class="row hanes">
                                <div class="col-sm-4"><b></b></div>
                                <div class="col-sm-8">
                                    <h6>Hanes T-shirt</h6>
                                    <p>It has more twists per inch than the Planet Money T-shirt.  This makes the fabric more uniform, but rougher to the touch.</p>
                                </div>
                            </div>

                            <hr />

                            <div class="row denim">
                                <div class="col-sm-4"><b></b></div>
                                <div class="col-sm-8">
                                    <h6>Denim Jeans</h6>
                                    <p>Denim yarn is made from shorter fibers than T-shirt yarn, and it has a consistency akin to rope: thick, heavy, and uneven.   It’s the toughest and most durable of the yarns shown here.</p>
                                </div>
                            </div>

                            <hr />

                            <div class="row woven">
                                <div class="col-sm-4"><b></b></div>
                                <div class="col-sm-8">
                                    <h6>Dress Shirt</h6>
                                    <p>This yarn has the most twists per inch of any yarn here, which makes fabric that’s stiff, regular, and ironable.</p>
                                </div>
                            </div>

                            <hr />

                            <div class="row sock">
                                <div class="col-sm-4"><b></b></div>
                                <div class="col-sm-8">
                                    <h6>Fruit of the Loom sock </h6>
                                    <p>This is some big, hairy yarn. It’s soft, cushiony and absorbent, but also irregular in size and appearance.</p>
                                </div>
                            </div>

                        </div>
                        
                        <p>The Planet Money men's T-shirt was spun into yarn at a $35 million factory in Indonesia. What you get for that money is a factory that can make yarn with incredible precision and consistency, 24 hours a day, 361 days a year. (They take four days off at the end of Ramadan.)</p>
                        <p>“When I see people just picking up a T-shirt and putting it back on the shelf in a store,” says Anupam Agrawal, who heads the spinning operation at the factory, “I say, ‘Hey, man. We worked very hard to make the yarn which has made that T-shirt. Give it some respect.’”</p>

                        <div class="graphic yarn-spinning">
                            <h4>{{ COPY.machines.graphic_yarn_spinning_headline }}</h4>
                            <h5>{{ COPY.machines.graphic_yarn_spinning_subhed }}</h5>
                            <div class="row photo-row yarn-spinning-photos">
                                <div class="col-xs-6">
                                    <img src="img/machines-cotton-phase-1.jpg" alt="" />
                                    <span class="caption">{{ COPY.machines.graphic_yarn_spinning_1 }}</span>
                                </div>
                                <div class="col-xs-6">
                                    <img src="img/machines-cotton-phase-2.jpg" alt="" />
                                    <span class="caption">{{ COPY.machines.graphic_yarn_spinning_2 }}</span>
                                </div>
                                <div class="col-xs-6">
                                    <img src="img/machines-cotton-phase-3.jpg" alt="" />
                                    <span class="caption">{{ COPY.machines.graphic_yarn_spinning_3 }}</span>
                                </div>
                                <div class="col-xs-6">
                                    <img src="img/machines-cotton-phase-4.jpg" alt="" />
                                    <span class="caption">{{ COPY.machines.graphic_yarn_spinning_4 }}</span>
                                </div>
                            </div>
                        </div>
                        
                        <p>Jockey’s recipe for the yarn may be a secret, but Agrawal’s factory is using machines that anyone with enough money can buy. Right now, Indonesia is in a sweet spot right in the middle of the global T-shirt trade. Wages are lower here than they are in developed countries. At the same time, unlike many countries where labor is even cheaper, Indonesia has a few key things that are essential for keeping a high-tech factory humming: an educated workforce; cheap, reliable electricity; and a relatively stable government.</p>
                        <p>But staying in the sweet spot in a global economy is almost impossible. At some point, a country that has cheaper labor or is closer to where clothes are made will find the money, the electricity and the workers to build its own spinning industry.</p>

                    </div><!-- /.col --> 
                </div><!-- /.row -->  
            </div><!-- /.container -->
        </div><!-- /.explainer -->
