    	<div class="layer-media">
    	
			<div class="titlecard">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>{{ COPY.machines.fullname }}</h1>
							<h2>{{ COPY.machines.chapter_subtitle }}</h2>
							<button class="btn btn-play">{{ COPY.content.chapter_play_button_label }}</button>
							</div><!-- /.col --> 
					</div><!-- /.row -->  
				</div><!-- /.container -->				
			</div><!-- /.titlecard --> 
	
			<div class="video-wrapper">
			    <div class="video-inner-wrapper">
			        <iframe src="" id="video-machines" width="400" height="225" frameborder="0"></iframe>
			    </div>
			</div><!-- /.video-wrapper --> 
			
        </div><!-- /.layer-media --> 
        
        <div class="explainer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <h2>Robots text</h2> 
                        <p>We chased our bales of Mississippi cotton through the streets of Jakarta and out into the Indonesian countryside, where rice fields have been turned into Honda plants and satellite farms.</p>
                        <p>It's a busy, crowded place &mdash; until you walk into the Indorama yarn factory. The building is a big as a football field, and there's almost no one there.  Just row after row of shiny machines</p>
                        <p>Spinning cotton into yarn (it looks like thread, but it's called yarn) is one of the oldest technologies there is. Yarn spinning machines were a key part of the industrial revolution, 200 years ago in England. You can even spin yarn by hand, at home, if you have some cotton and a bunch of free time.</p>
                        <p>Today, yarn spinning is a high-tech, capital intensive business. The Indonesian factory where the cotton for the Planet Money men's T-shirt was spun into yarn cost $35 million. What you get for that money is a factory that can make yarn with incredible precision, 24 hours a day, 365 days a year.</p>

                        <div class="graphic yarn-spinning">
                            <h4>Phases Of Yarn Spinning</h4>
                            <h5>NPR's Robert Smith collected yarn samples at each stage of the spinning process during his visit to the Indorama spinning plant in Purwakarta, Indonesia.</h5>
                            <div class="row photo-row yarn-spinning-photos">
                                <div class="col-xs-6">
                                    <img src="img/machines-cotton-phase-1.jpg" alt="" />
                                    <span class="caption">
                                        1. Raw American cotton
                                    </span>
                                </div>
                                <div class="col-xs-6">
                                    <img src="img/machines-cotton-phase-2.jpg" alt="" />
                                    <span class="caption">
                                        2. After combing, it's like baby hair.
                                    </span>
                                </div>
                                <div class="col-xs-6">
                                    <img src="img/machines-cotton-phase-3.jpg" alt="" />
                                    <span class="caption">
                                        3. One more step and it's cotton candy.
                                    </span>
                                </div>
                                <div class="col-xs-6">
                                    <img src="img/machines-cotton-phase-4.jpg" alt="" />
                                    <span class="caption">
                                        4. Pull. Twist. Spin. And you have yarn.
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <p>The Planet Money T-shirt has six miles of yarn in it. If any of that yarn is too thick or too thin &mdash; even by a little bit &mdash; the T-shirt will warp or won't fit right. The Jockey Corporation picked out the yarn for our T-shirt &mdash; and they wouldn't tell us exactly what the specs are.</p>
                        <p>"That's our special sauce," Marion TK, Jockey's TK, said. It's like the secret formula for Coke, but softer on the skin.</p>

                        <div class="graphic yarn-types">
                            <h4>Yarn Ratings</h4>
                            <h5>Introduction to this chart. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h5>
                            
                            <div class="row jockey">
                                <div class="col-sm-4"><b></b></div>
                                <div class="col-sm-8">
                                    <h6>Planet Money Women's T-shirt</h6>
                                    <p>Two words: compact ringspun. A machine sucked the fibers close together when the yarn for our shirt was spun, creating yarn that makes an extra-smooth shirt. The yarn has relatively few twists per inch, which makes the fabric soft and comfortable &mdash; but also more likely to pill.</p>
                                </div>
                            </div>
                            
                            <hr />

                            <div class="row hanes">
                                <div class="col-sm-4"><b></b></div>
                                <div class="col-sm-8">
                                    <h6>Hanes T-shirt ($12 for a pack of 3)</h6>
                                    <p>It has more twists per inch than the Planet Money T-shirt.  This makes the fabric more uniform and less likely to pill, but it's rougher to the touch.</p>
                                </div>
                            </div>

                            <hr />

                            <div class="row denim">
                                <div class="col-sm-4"><b></b></div>
                                <div class="col-sm-8">
                                    <h6>Denim Jeans</h6>
                                    <p>Denim yarn is made from shorter fibers than T-shirt yarn, and it has a consistency akin to rope: thick, heavy, and uneven.   It's the toughest and most durable of the yarns shown here.</p>
                                </div>
                            </div>

                            <hr />

                            <div class="row woven">
                                <div class="col-sm-4"><b></b></div>
                                <div class="col-sm-8">
                                    <h6>Dress Shirt</h6>
                                    <p>The yarn has the most twists per inch of any yarn here, which makes fabric that's stiff, regular, and ironable.</p>
                                </div>
                            </div>

                            <hr />

                            <div class="row sock">
                                <div class="col-sm-4"><b></b></div>
                                <div class="col-sm-8">
                                    <h6>Fruit of The Loom sock</h6>
                                    <p>This is some big, hairy yarn. It's soft cushiony and absorbent, but also irregular in size and appearance.</p>
                                </div>
                            </div>

                        </div>
                        
                        <p>The Indorama factory in Indonesia isn't using some sort of proprietary process. Anyone can buy these machines and set up a factory exactly like this. But Indonesia is in a sweet spot right in the middle of the global t-shirt trade. Wages are lower here than they are in developed countries. At the same time, unlike many countries where labor is even cheaper, Indonesia the cheap, reliable electricity and educated workforce that you need to keep high-tech factories humming.</p>
                        <p>But staying in the sweet spot in a global economy is almost impossible.  At some point, a country that has cheaper labor or is closer to where clothes are  made will find the money, the electricity and the workers to build their own, big spinning plant. Anyone who can produce the same quality yarn for a few pennies cheaper will win.</p>

                    </div><!-- /.col --> 
                </div><!-- /.row -->  
            </div><!-- /.container -->
        </div><!-- /.explainer -->
