    	<div class="layer-media">
			
			<div class="titlecard">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>{{ COPY.boxes.fullname }}</h1>
							<h2>{{ COPY.boxes.chapter_subtitle }}</h2>
							<button class="btn btn-play">{{ COPY.content.chapter_play_button_label }}</button>
                        </div><!-- /.col --> 
					</div><!-- /.row -->  
				</div><!-- /.container -->				
			</div><!-- /.titlecard --> 
	
			<div class="video-wrapper">
			    <div class="video-inner-wrapper">
			        <iframe src="" id="video-boxes" width="400" height="225" frameborder="0"></iframe>
			    </div>
			</div><!-- /.video-wrapper --> 
			
        </div><!-- /.layer-media -->
        
        <div class="explainer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <h3>Ships text</h3> 
                        <p>The Planet Money men's T-shirt traveled around the world on its way to you. The cotton was grown in the U.S., spun into yarn in Indonesia, and sewn into shirts Bangladesh. Then a ship took the shirts back to the U.S., bound for a printing factory in Brooklyn.</p>
                        <p>All this travel was made possible by one simple innovation: the shipping container.</p>

                        <div class="graphic shipping-container">
                            <h4>The Shipping Container</h4>
                            <h5>Lorem Ipsum Dolor Sit Amet</h5>
                            <p>[ PHOTO/GIF OF A SHIPPING CONTAINER (OUR SHIPPING CONTAINER?) ]</p>
                            
                            <div class="row">
                                <div class="col-xs-6">
                                    <h6 class="shirts"><b></b>There are <strong>78 Planet Money men's medium shirts</strong> in one box...</h6>
                                </div>
                                <div class="col-xs-6">
                                    <h6 class="boxes"><b></b>...and about <strong>1,000 boxes</strong> in one standard shipping container.</h6>
                                </div>
                            </div>
                            
                            <p class="credit">
                                Sources: Jockey, <a href="http://www.seaboardmarine.com/SML/fleet/index.aspx?index=1">Seaboard Marine</a>, NPR analysis
                            </p>
                        </div>
                        
                        <p>Big metal boxes might not seem like an innovation. But without the humble container, the global economy wouldn't be nearly as global as it is &mdash; and the Planet Money T-shirt wouldn't have been made the way it was.</p>
                        <p>Before containers, it was common for a single ship to be loaded with hundreds of thousands of different things &mdash; bananas, fish meal, steel pipes &mdash; all randomly stuffed into sacks and boxes. Workers had to pack each bag and box into the ship individually.</p>
                        <p>Even with 50 or 100 people working, it could take weeks to unload and reload a single ship.</p>

                        <div class="graphic shipping-cotton">
                            <h4>Cotton Shipping, The Old Way</h4>
                            <h5>Workers in 1937 roll bales of cotton onto a steamboat on the Mississippi River.</h5>
                            <div class="filmstrip-outer-wrapper">
                                <div class="filmstrip-wrapper">
                                    <div class="filmstrip animated"></div>
                                </div>
                            </div>
                            <p class="credit">
                                Source: U.S. Department of Agriculture (<a href="https://archive.org/details/CEP165">via archive.org</a>)
                            </p>
                        </div>
                        
                        <p>Malcolm Mclean, who led the move to containers, had no experiencewith ships at all. Mclean owned a trucking company in TK in the 1950s, before the Interstate highway system was built. It took forever for his trucks to get through traffic up and down the east coast.</p>
                        <p>Mclean had an idea: What if he put his trucks onto the ship in New York, and sailed them down the coast to North Carolina? He could hop over all that traffic! Then, he had another idea: a truck is basically an engine attached to a box &mdash; so why not just make the box detachable? </p>
                        <p>Cranes  could move the boxes from the trucks to the ship in New York. Cranes could put the boxes back on trucks in North Carolina. Not only would he skip traffic; it would make it profoundly easier to load and unload ships. <strong>(For much more on this story, see The Box, by TK.)</strong></p>
                        <p>Longshoremen fought containers for years: They saw that, with cranes and standardized containers, the number of people needed to load and unload ships would plummet. In the end, shipping companies agreed to pay into a fund that would compensate workers who lost their jobs.</p>
                        <p>Standardized containers took off around the world, and by 1966 Malcolm Mclean &mdash; the guy who dreamed of putting trucks on boats to avoid traffic &mdash; had put together a fleet of container ships.</p>
                        <p>The age of containers had begun, and it greatly reduced the cost of shipping.  A global distribution system emerged around standardized boxes that could be easily moved from ships, to, trains to trucks.</p>

                        <div class="graphic shipping-costs">
                            <h4>What Our Men's Shirt Cost</h4>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
                            <table>
                                <tr>
                                    <th>Service</th>
                                    <th>Country</th>
                                    <th class="amt">Cost</th>
                                    <th class="amt">Share</th>
                                </tr>
                                <tr>
                                    <td>Cotton</td>
                                    <td>U.S.</td>
                                    <td class="amt">$0.60</td>
                                    <td class="amt">5%</td>
                                </tr>
                                <tr>
                                    <td>Yarn spinning</td>
                                    <td>Indonesia</td>
                                    <td class="amt">$0.40</td>
                                    <td class="amt">3%</td>
                                </tr>
                                <tr>
                                    <td>Knitting, dyeing, cutting and sewing</td>
                                    <td>Bangladesh</td>
                                    <td class="amt">$1.00</td>
                                    <td class="amt">8%</td>
                                </tr>
                                <tr class="shadedrow">
                                    <td>Shipping*</td>
                                    <td>n/a</td>
                                    <td class="amt">$0.10</td>
                                    <td class="amt">1%</td>
                                </tr>
                                <tr>
                                    <td>Tariff</td>
                                    <td>U.S.</td>
                                    <td class="amt">$0.32</td>
                                    <td class="amt">3%</td>
                                </tr>
                                <tr>
                                    <td>Jockey fees</td>
                                    <td>U.S.</td>
                                    <td class="amt">$3.18</td>
                                    <td class="amt">25%</td>
                                </tr>
                                <tr>
                                    <td>Printing</td>
                                    <td>U.S.</td>
                                    <td class="amt">$0.90</td>
                                    <td class="amt">7%</td>
                                </tr>
                                <tr>
                                    <td>Order fulfillment</td>
                                    <td>U.S.</td>
                                    <td class="amt">$1.79</td>
                                    <td class="amt">14%</td>
                                </tr>
                                <tr>
                                    <td>Shipping and handling (average)</td>
                                    <td>U.S.</td>
                                    <td class="amt">$2.26</td>
                                    <td class="amt">18%</td>
                                </tr>
                                <tr>
                                    <td>Kickstarter fees</td>
                                    <td>U.S.</td>
                                    <td class="amt">$1.21</td>
                                    <td class="amt">9%</td>
                                </tr>
                                <tr>
                                    <td>Amazon Payments fees</td>
                                    <td>U.S.</td>
                                    <td class="amt">$1.04</td>
                                    <td class="amt">8%</td>
                                </tr>
                                <tr>
                                    <td><strong>Total</strong></td>
                                    <td></td>
                                    <td class="amt"><strong>$12.79</strong></td>
                                    <td class="amt"><strong>100%</strong></td>
                                </tr>
                            </table>
                            
                            <p class="footnote">
                                Note: The men's shirts cost approximately $0.10 to ship to the United States from Bangladesh. The women's shirts cost about $0.07 to ship to the United States from Colombia.
                            </p>
                            <p class="credit">
                                Source: Jockey, NPR analysis
                            </p>
                        </div>
                        
                    </div><!-- /.col --> 
                </div><!-- /.row -->  
            </div><!-- /.container -->
        </div><!-- /.explainer -->
