        <div class="layer-media">
    	
			<div class="titlecard">
				 <div class="container">
	                <div class="row">
	                    <div class="col-md-7 col-md-offset-4">
	
	                        <h2>{{ COPY.content.buy_title }}</h2>
	                        
	                        <form role="form">
	                        
	                        <div class="row">
	                        <div class="col-md-4">
	                        
							  <div class="form-group">
							    <label for="shirtSize">Select a size</label>
							    
							    
							    <select class="form-control">
								  <option>1</option>
								  <option>2</option>
								  <option>3</option>
								  <option>4</option>
								  <option>5</option>
								</select>
							  </div>
	                        </div>
	                        </div><!--/row-->
							  
							  
							  <div class="checkbox">
							    <label>
							      <input type="checkbox"> Check me out
							    </label>
							  </div>
							  <button type="submit" class="btn btn-default">Submit</button>
							</form>
	                    
	                    </div><!-- /.col --> 
	                </div><!-- /.row -->  
	            </div><!-- /.container -->				
			</div><!-- /.titlecard --> 
	
			
			
        </div><!-- /.layer-media --> 
        
        <div class="explainer"></div><!-- /.explainer -->
