    	<div class="layer-media">
    	
			<div class="titlecard animated fadeIn">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>{{ COPY.cotton.fullname }}</h1>
							<h2>{{ COPY.cotton.chapter_subtitle }}</h2>
							<button class="btn btn-play">{{ COPY.content.chapter_play_button_label }}</button>
						</div><!-- /.col --> 
					</div><!-- /.row -->  
				</div><!-- /.container -->				
			</div><!-- /.titlecard --> 
	
			<div class="video-wrapper">
			    <div class="video-inner-wrapper">
			        <iframe src="" id="video-cotton" width="400" height="225" frameborder="0"></iframe>
			    </div>
			</div><!-- /.video-wrapper --> 
			
        </div><!-- /.layer-media --> 
        
        <div class="explainer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <h2>{{ COPY.cotton.explainer_headline }}</h2>
                        <p>You can grow cotton in places where land and labor are cheap. You can grow it in places that are close to the countries &mdash; Colombia, Indonesia, Bangladesh &mdash; where the Planet Money T-shirt was made. Yet most of the cotton in the Planet Money T-shirts was grown in the U.S. In fact, the U.S. exports more cotton than any country in the world. Here are three reasons why.</p>

                        <h3>1. Technology</h3>
                        <p>The U.S. has perfected cotton by treating it as a high-tech product.</p>

                        <div class="graphic cotton-yields">
                            <h4>So Much Cotton, So Few People</h4>
                            <h5>Bowen Flowers, a Mississippi cotton farmer, shared some of the numbers behind his operation.</h5>
                            <div class="row">
                                <div class="col-sm-4">
                                    <table class="people">
                                        <tr>
                                            <th>People</th>
                                            <th class="amt">13</th>
                                        </tr>
                                        <tr>
                                            <td>Drivers</td>
                                            <td class="amt">8</td>
                                        </tr>
                                        <tr>
                                            <td>Mechanics / technicians</td>
                                            <td class="amt">3</td>
                                        </tr>
                                        <tr>
                                            <td>Supervisors</td>
                                            <td class="amt">2</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-4">
                                    <table class="machines">
                                        <tr>
                                            <th>Machines</th>
                                            <th class="amt">26</th>
                                        </tr>
                                        <tr>
                                            <td>Cotton pickers</td>
                                            <td class="amt">5</td>
                                        </tr>
                                        <tr>
                                            <td>Cultivators</td>
                                            <td class="amt">5</td>
                                        </tr>
                                        <tr>
                                            <td>Hooded sprayers</td>
                                            <td class="amt">5</td>
                                        </tr>
                                        <tr>
                                            <td>Planters</td>
                                            <td class="amt">5</td>
                                        </tr>
                                        <tr>
                                            <td>Tractors</td>
                                            <td class="amt">5</td>
                                        </tr>
                                        <tr>
                                            <td>Crop duster</td>
                                            <td class="amt">1</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-4 totals">
                                    <h6>Harvest</h6>
                                    <p>In 2013, the farm will produce 13,000 bales of cotton &mdash; the equivalent of <strong>9.4 million T-shirts</strong>.</p>
                                    <p><img src="img/cotton-tech-shirt.gif" alt="" />
                                    <p class="key"><i></i> = 100,000 shirts</p>
                                </div>
                            </div>
                            <p class="footnote">
                                Notes:<br />
                                - Cotton yields are projections.<br />
                                - Flowers's farm also produces other crops. Some of the machinery and staff listed here also work elsewhere on the farm.
                            </p>
                        </div>

                        <p>Genetically modified crops are controversial, but not among U.S. cotton farmers: 90 percent of U.S. cotton comes from genetically modified seeds that were designed in labs to produce more cotton and resist pests.</p>
                        <p>And when it's time to harvest those seeds, U.S. farmers use, essentially, giant robots. Just last year, Bowen Flowers, the cotton farmer in the video, bought five John Deere 7760 pickers. Priced at over $600,000, these pickers are the size of tanks, but are finely-tuned, self-driving machines that feel the cotton plant stalks and twist off just the cotton puffs.</p>
                        <p>Like the seeds, the pickers get more productive every year as the technology improves. The newest John Deere picker needs just one guy to do what it took five guys to do a couple years ago. One driver can pick a hundred acres of cotton a day &mdash; and he barely needs to touch the steering wheel, because the machine largely drives itself.</p>
                        <p>Toto Latrell Jones, a cotton picker at Bowen Flowers’s farm, says the machine lets him pick more in a day than his grandfather could have picked in a lifetime.</p>

                        <h3>2. Report Cards</h3>
                        <p>Every year, the USDA tests all 17 million bales of cotton harvested in the U.S. The farmers pay for the testing, and the USDA figures out exactly how fine, long, strong and stretchy every bale of cotton is. Anyone, anywhere in the world can get a report card that tells them everything they need to know about every bale of U.S. cotton.</p>
                        <p>Here are a few key specs for a sample from Bowen Flowers’s crop.</p>

                        <div class="graphic cotton-rating">
                            <h4>How Bowen Flowers's Cotton Rated</h4>
                            <div class="cotton-sample">
                                <ul>
                                    <li>
                                        <b>Color</b>
                                        <i>41-1</i>
                                        <span>(average)</span>
                                    </li>
                                    <li>
                                        <b>Fineness</b>
                                        <i>4.53</i>
                                        <span>(average)</span>
                                    </li>
                                    <li>
                                        <b>Length</b>
                                        <i>1.17</i>
                                        <span>(above average)</span>
                                    </li>
                                    <li>
                                        <b>Strength</b>
                                        <i>30.2</i>
                                        <span>(above average)</span>
                                    </li>
                                    <li>
                                        <b>Stretchiness</b>
                                        <i>7.5</i>
                                        <span>(above average)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <p>To understand how this keeps American cotton on top, it helps to travel 10,000  miles to Indonesia, where our cotton was spun into yarn for the men’s T-shirt. (And by yarn we mean thread. In the clothing business, people call it yarn.)</p>
                        <p>A factory manager there told us  that, when he orders U.S. cotton, he knows exactly what he’s getting before he ever sees or touches the cotton. The spinners have a special recipe for their yarn, and they need exactly the right cotton &mdash; exactly the right color, exactly the right length, exactly the right fineness. No surprises.</p>
                        <p>The USDA testing means a cotton buyer in Indonesia can order a bale of U.S. cotton that's guaranteed to match his exact specifications, every time.</p>

                        <h3>3. Subsidies</h3>
                        <p>U.S. cotton farmers benefit from a bunch of government subsidy programs. (Other countries subsidize their cotton farmers as well, by the way.) The government gives taxpayer money directly to cotton farmers, and subsidizes insurance that protects farmers if their harvest is weak or cotton prices fall.</p>
                    
                        <div class="graphic cotton-subsidies">
                            <h4>How The U.S. Government Subsidizes Cotton Farmers</h4>
                            <dl>
                                <dt class="crop-insurance"><b></b> <strong>Crop Insurance</strong></dt>
                                <dd>The government subsidizes several kinds of insurance available to cotton farmers. One popular option is revenue insurance, which pays farmers if they make less money than they expect. This can happen for a few reasons &mdash; cotton prices may fall, or a farmer may have a bad harvest. The government pays a big chunk of the premiums for the farmers &mdash; and also pays the operating costs of the companies that sell the insurance.</dd>
                            
                                <dt class="prices-fall"><b></b> <strong>Payments When Prices Fall</strong></dt>
                                <dd>Through the “countercyclical program,” the federal government pays cotton farmers when the average price of cotton falls below a certain level. The level is based on average prices over the past few years. Cotton prices have been rising recently, so the government hasn’t been making payments via this program.</dd>
                            
                                <dt class="cotton"><b></b> <strong>Direct Payments When Prices Don't Fall (And, Also, When They Do)</strong></dt>
                                <dd>If you grew cotton on your farm in the 1990s, you get a cash payment from the government &mdash; even if you don’t grow cotton on your farm anymore, and even if cotton prices are going through the roof. The payment is based on how many acres of cotton you cultivated in the past.</dd>
                            </dl>
                        </div>

                        <p>The latest version of the farm bill, which Congress is working on this month, is likely to change these subsidies. Farmers may get less money in the form of direct payments, and more in the form of subsidized insurance.</p>
    
                    </div><!-- /.col --> 
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div> <!-- /. explainer -->
