        <div class="explainer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <h2>{{ COPY.content.about_title }}</h2>
                        <p>The idea seemed so simple: Let’s make a T-shirt, report on every facet of its creation, and sell the final product to our listeners.</p>
                        <p>The simplest shirt is touched by people and machines all over the planet &mdash; from highly paid researchers in seed laboratories to factory workers who earn a few dollars a day. By making our own t-shirt, we figured, we would discover this massive, interconnected, largely hidden world.</p>
                        <p>At first, we tried to go it alone. We went to Texas looking for a few bales of cotton. That went fine. But when visited the North Carolina mills where cotton is spun into yarn, we got laughed out of the room. We were way too small; no one spins a few bales at a time. Our approach, we realized, was a little like deciding to make a laptop from scratch, and starting by mining our own copper.</p>
                        <p>Eventually, we sought the advice of experts. Marion Smith, the director of global sourcing for Jockey, the underwear company, was patient with us on the phone. He gently corrected our mistakes. (T-shirts are knitted, not woven. They’re made from something that looks like thread, but is called yarn.) Eventually, Jockey agreed to sell us T-shirts &mdash; and, more importantly, to let us follow the creation of those shirts.</p>
                        <p>The Planet Money T-shirts are made of fabric that Jockey’s textile experts developed. They’re based on a design pattern Jockey uses for its own t-shirt line. Jockey introduced us to their suppliers in Bangladesh and Colombia, and those suppliers agreed to assemble our shirts. And Jockey designers helped us pick out the colors for our shirts.</p>
                        <p>But Jockey couldn’t tell us how many shirts to make, or how we could pay for them. For that, we turned to <a href="http://www.kickstarter.com/projects/planetmoney/planet-money-t-shirt" target="_blank">Kickstarter</a> &mdash; and promised T-shirts to everyone who pledged $25. Our goal was to raise enough money for 2,000 shirts. In the end, we raised enough for 25,000. (Thanks again to everyone who ordered a shirt. Really. Amazing.)</p>
                        <p>On TK, 2013, we placed our order: TK men’s shirts, TK women’s shirts. And then we <a href="http://seedtoshirt.tumblr.com/" target="_blank">went all over the world</a> to report on our shirt’s construction.</p>

                        <div class="row photo-row">
                            <div class="col-md-4 photo1">
                                <a href="http://seedtoshirt.tumblr.com/post/63513791248/clarksdale-mississippi-the-members-of-team" target="_blank"><img src="img/about-cotton-jess.jpg" alt="Jess Jiang and Robert Smith visit a cotton farm in Clarksdale, Miss." /></a>
                                <span class="caption">Robert Smith (in shadow) and Jess Jiang <a href="http://seedtoshirt.tumblr.com/post/63513791248/clarksdale-mississippi-the-members-of-team" target="_blank">visit a cotton farm</a> in Clarksdale, Miss.</span>
                            </div>
                            <div class="col-md-4 photo2">
                                <a href="http://seedtoshirt.tumblr.com/post/62421475411/jacksonville-florida-i-spent-a-sleepless-night" target="_blank"><img src="img/about-container-eric.jpg" alt="Eric Helton attached a GoPro video camera to the shipping container with our women's tees" /></a>
                                <span class="caption">Eric Helton <a href="http://seedtoshirt.tumblr.com/post/62421475411/jacksonville-florida-i-spent-a-sleepless-night" target="_blank">attached a video camera</a> to our shipping container in Jacksonville, Fla.</span>
                            </div>
                            <div class="col-md-4 photo3">
                                <a href="http://seedtoshirt.tumblr.com/post/59577750028/chittagong-bangladesh-adventures-with-the" target="_blank"><img src="img/about-bangladesh-gopro.jpg" alt="In Bangladesh, factory supervisor Kulsum agreed to wear a GoPro video camera for an afternoon." /></a>
                                <span class="caption">Kulsum, a factory supervisor in Bangladesh, <a href="http://seedtoshirt.tumblr.com/post/59577750028/chittagong-bangladesh-adventures-with-the" target="_blank">wore a video camera</a> for us.</span>
                            </div>
                        </div>
                        
                        <p>Aside from the site you see here, we did a bunch of radio stories and podcasts:</p>
                        
                        <dl class="table-of-contents">
                            <dt>{{ COPY.plants.fullname }}</dt>
                                <dd>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ S3_BASE_URL }}/#/{{ COPY.plants.shortname }}">{{ COPY.plants.chapter_subtitle }}</a> <span class="date">(Nov. 18, 2013)</span></li>
                                    </ul>
                                </dd>
                            <dt>{{ COPY.machines.fullname }}</dt>
                                <dd>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ S3_BASE_URL }}#/{{ COPY.machines.shortname }}">{{ COPY.machines.chapter_subtitle }}</a> <span class="date">(Nov. 18, 2013)</span></li>
                                    </ul>
                                </dd>
                            <dt>{{ COPY.people.fullname }}</dt>
                                <dd>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ S3_BASE_URL }}#/{{ COPY.people.shortname }}">{{ COPY.people.chapter_subtitle }}</a> <span class="date">(Nov. 18, 2013)</span></li>
                                    </ul>
                                </dd>
                            <dt>{{ COPY.ships.fullname }}</dt>
                                <dd>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ S3_BASE_URL }}#/{{ COPY.ships.shortname }}">{{ COPY.ships.chapter_subtitle }}</a> <span class="date">(Nov. 18, 2013)</span></li>
                                    </ul>
                                </dd>
                            <dt>{{ COPY.you.fullname }}</dt>
                                <dd>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ S3_BASE_URL }}/#/{{ COPY.you.shortname }}">{{ COPY.you.chapter_subtitle }}</a> <span class="date">(Nov. 18, 2013)</span></li>
                                    </ul>
                                </dd>
                        </dl>
                        
                        <p>We were inspired a lot by a book: <a href="http://www.amazon.com/gp/product/0470287160/?SubscriptionId=AKIAJNA3QS2AGVCXHCCA&tag=npr-5-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=0470287160" target="_blank">The Travels Of A T-shirt In The Global Economy</a>. In fact, we hired the author, Pietra Rivoli, to be an advisor on this project. And the original idea for this project came, more than three years ago, from Planet Money co-founder Adam Davidson.</p>
                                                
                        <h3>Credits</h3>
                        <div class="credits">
                            <p>{{ COPY.attribution.credits_pm }}</p>
                            <p>{{ COPY.attribution.credits_multimedia }}</p>
                            <p>{{ COPY.attribution.credits_production }}</p>
                            <p>{{ COPY.attribution.credits_apps }} (<a href="{{ COPY.content.github_link }}">{{ COPY.content.github_link_text }}</a>)</p>
                            <p>{{ COPY.attribution.thanks }}</p>
                            <p>{{ COPY.attribution.credits_music }}</p>
                            <p><em>Originally published {{ COPY.attribution.pubdate }}</em></p>
                        </div>

                    </div><!-- /.col --> 
                </div><!-- /.row -->  
            </div><!-- /.container -->
        </div><!-- /.explainer -->
