    	<div class="layer-media">
    		<video class="title-video" preload="metadata" autoplay="autoplay" loop="loop" muted="muted">
                <source src="http://pd.npr.org/npr-mp4/npr/pmvid/2013/11/20131110_pmvid_peopleloop.mp4" type="video/mp4">
                <source src="http://pd.npr.org/npr-mp4/npr/pmvid/2013/11/20131110_pmvid_peopleloop.webm" type="video/webm">
            </video>

			<div class="titlecard">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>{{ COPY.people.fullname }}</h1>
							<h2>{{ COPY.people.chapter_subtitle }}</h2>
							<button class="btn btn-play">{{ COPY.content.chapter_play_button_label }}</button>
							</div><!-- /.col --> 
					</div><!-- /.row -->  
				</div><!-- /.container -->				
			</div><!-- /.titlecard --> 
	
			<div class="video-wrapper">
			    <div class="video-inner-wrapper">
			        <iframe src="" id="video-people" width="400" height="225" frameborder="0"></iframe>
			    </div>
			</div><!-- /.video-wrapper --> 
			
        </div><!-- /.layer-media --> 
        
        <div class="explainer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <h3>Humans text</h3> 
                        <p>The global garment industry is flocking to Bangladesh for a simple reason: It's the cheapest place in the world to make a T-shirt. The Bangladeshi workers who made the Planet Money men's T-shirt make $80 a month. Many workers in Bangladesh make even less: The country's minimum wage is far lower: only $39 a month.</p>

                        <div class="graphic apparel-wages d3-chart">
                            <h4>Apparel Wages</h4>
                            <h5>Monthly minimum wages in the garment industry in top apparel-exporting countries, in US dollars</h5>

                            <div id="apparel-wages-d3">
                                <table>
                                    <tr>
                                        <th>Country</th>
                                        <th class="amt">Monthly wage</th>
                                    </tr>
                                    <tr>
                                        <td>Hong Kong</td>
                                        <td class="amt">$800</td>
                                    </tr>
                                    <tr>
                                        <td>Turkey</td>
                                        <td class="amt">538</td>
                                    </tr>
                                    <tr>
                                        <td>Malaysia</td>
                                        <td class="amt">247</td>
                                    </tr>
                                    <tr>
                                        <td>China</td>
                                        <td class="amt">138</td>
                                    </tr>
                                    <tr>
                                        <td>Mexico</td>
                                        <td class="amt">125</td>
                                    </tr>
                                    <tr>
                                        <td>Indonesia</td>
                                        <td class="amt">84</td>
                                    </tr>
                                    <tr>
                                        <td>Cambodia</td>
                                        <td class="amt">80</td>
                                    </tr>
                                    <tr>
                                        <td>Vietnam</td>
                                        <td class="amt">78</td>
                                    </tr>
                                    <tr>
                                        <td>India</td>
                                        <td class="amt">71</td>
                                    </tr>
                                    <tr class="shadedrow">
                                        <td>Bangladesh</td>
                                        <td class="amt">39</td>
                                    </tr>
                                </table>
                            </div>

                            <p class="footnote">
                                Note: Data as of Aug. 1, 2013
                            </p>
                            <p class="credit">
                                Source: International Labour Organization
                            </p>
                        </div>
                        
                        <p>Four million Bangladeshis work in the garment industry &mdash; a figure that's doubled in the past TK years. There is a whole generation like Jasmine, the woman in the video who made the Planet Money T-shirt. They are leaving rural poverty to go work in the country's factories and try to improve their lives. And, increasingly, they are pushing for higher wages.</p>
                        <p>The disaster at Rana Plaza, when a factory collapsed  and killed TK workers last TK, led to huge protests around the country and increased global pressure on Bangladesh to improve working conditions. Any day now, the government is expected to announce a new, higher minimum wage.</p>
                        <p>The main garment workers union is asking for $105 a month &mdash; still low by global standards, but roughly triple the current minimum. Factory owners say that if the minimum wage goes up to $105 a month, buyers from the developed world will pull up stakes and find a cheaper place to make T-shirts.</p>
                        <p>For the last twenty years, global T-shirt companies have chased cheap labor from country to country.  As wages rose in one place buyers moved to the next, cheaper country. The price of T-shirts in the developed world fell.</p>
                        <p>But that era may be coming to an end, according to Marion Smith, TK at Jockey, the company we partnered with to make our T-shirt. Wages in China have doubled in the past TK years, and are likely to continue rising. Other low-wage countries are too small or don't have the infrastructure in place to become the next tailor shop to the world.</p>
                        <p>After Bangladesh, Smith says, there's no obvious next place to go. "We're getting down to the end of it," Smith told us. "Bangladesh is going to go up, and who's cheaper than Bangladesh?"</p>
                        <p>Pay for workers like Jasmine makes a up just a tiny fraction of the finished cost of a T-shirt. That means that, if the global garment industry stays put in Bangladesh,  prices for T-shirts may rise a little in the U.S. &mdash; and wages for workers like Jasmine may go up a lot.</p>

                    </div><!-- /.col --> 
                </div><!-- /.row -->  
            </div><!-- /.container -->
        </div><!-- /.explainer -->
