        <div class="layer-media">
            <div class="titlecard">
                 <div class="container">

                    <div class="row">
                        <div class="col-md-9">
                        <h2>{{ COPY.content.buy_title }}</h2>
                            <h3>Support your favorite station by buying a Planet Money T-shirt. <em>Note: only one shirt per order.</em></h3>
                        </div><!--/col-->
                    </div><!--/row-->

                    <div class="row">

                        <div class="col-md-5  col-md-push-7"><img src="../../img/tshirt-sample.jpg" class="img-responsive shirt-preview" /><img src="../../img/tshirt-sample.jpg" class="img-responsive shirt-preview" /></div>

                        <div class="col-md-7 col-md-pull-5">{% include "_thanks.html" %}</div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.titlecard -->
        </div><!-- /.layer-media -->
        <div class="explainer"></div><!-- /.explainer -->