        <div class="explainer">
        	<div class="how-header">
        		<img src="img/how-wide.jpg">
        		<p>10 members of the Planet Money team scrunched into a room to listen to early drafts of the T-shirt stories. Credit: Quoctrung Bui/NPR</p>
        	</div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <h2>{{ COPY.content.about_title }}</h2>
                        
                        
                        <h3>Why A T-Shirt?</h3>
                        <p>We wanted to see the hidden world behind clothes sold in this country, so we decided to make a T-shirt. We wanted to make an ordinary shirt like the vast majority of the shirts sold in this country -- not organic cotton, not hand-sewn in the United States.</p>
                        
                        <div class="about-tshirt">
                        	<img src="img/womensshirt.jpg" class="img-responsive">
                        	<p><strong>Miss our Kickstarter?</strong> For a limited time, you can order a second-edition <a href="http://shop.npr.org/planet-money-t-shirt-men-s" target="_blank">men's</a> or <a href="http://shop.npr.org/planet-money-t-shirt-women-s">women's</a> t-shirt.</p>
                        </div>
                        
                        
                        <p>To figure out how many shirts to make, and to raise money to pay for them, we turned to <a href="http://www.kickstarter.com/projects/planetmoney/planet-money-t-shirt" target="_blank">Kickstarter</a>. We promised T-shirts to everyone who pledged $25. Our goal was to sell 2,000 shirts. In the end, we sold 25,000.</p>
                        <p>Thanks again to everyone who ordered a shirt. Really. Amazing. We couldn’t have done it without you.</p>
                        
                        
                        <h3>Why A Squirrel?</h3>
                        <p>The design on the shirt, a squirrel hoisting a martini glass, is a visual pun: a reference to the phrase "animal spirits" made famous by the economist John Maynard Keynes.</p>
                        <p>As Planet Money's David Kestenbaum <a href="http://www.npr.org/blogs/money/2013/04/30/180079862/episode-455-the-planet-money-t-shirt-is-finally-almost-here" target="_blank">put it recently</a>: "Keynes'idea was that there's more to the markets than just numbers; there are people and emotions making decisions. And to the extent that we are finding the human element in the very dry subject of economics, it's actually perfect for us."</p>
                        
                        <h3>Ten Reporters, Three Continents, One Archipelago</h3>
                        <p>We flew drones over Mississippi. We got mugged in Chittagong, Bangladesh. We met people who we’ll never forget -- the actual people who make our clothing. At every location we had radio reporters and videographers.</p>

                        <div class="row photo-row">
                            <div class="col-md-4 photo1">
                                <a href="http://seedtoshirt.tumblr.com/post/63513791248/clarksdale-mississippi-the-members-of-team" target="_blank"><img src="img/about-cotton-jess.jpg" alt="Jess Jiang and Robert Smith visit a cotton farm in Clarksdale, Miss." /></a>
                                <span class="caption">Robert Smith (in shadow) and Jess Jiang <a href="http://seedtoshirt.tumblr.com/post/63513791248/clarksdale-mississippi-the-members-of-team" target="_blank">visit a cotton farm</a> in Clarksdale, Miss.</span>
                            </div>
                            <div class="col-md-4 photo2">
                                <a href="http://seedtoshirt.tumblr.com/post/62421475411/jacksonville-florida-i-spent-a-sleepless-night" target="_blank"><img src="img/about-container-eric.jpg" alt="Eric Helton attached a GoPro video camera to the shipping container with our women's tees" /></a>
                                <span class="caption">Eric Helton <a href="http://seedtoshirt.tumblr.com/post/62421475411/jacksonville-florida-i-spent-a-sleepless-night" target="_blank">attached a video camera</a> to our shipping container in Jacksonville, Fla.</span>
                            </div>
                            <div class="col-md-4 photo3">
                                <a href="http://seedtoshirt.tumblr.com/post/59577750028/chittagong-bangladesh-adventures-with-the" target="_blank"><img src="img/about-bangladesh-gopro.jpg" alt="In Bangladesh, factory supervisor Kulsum agreed to wear a GoPro video camera for an afternoon." /></a>
                                <span class="caption">Kulsum, a factory supervisor in Bangladesh, <a href="http://seedtoshirt.tumblr.com/post/59577750028/chittagong-bangladesh-adventures-with-the" target="_blank">wore a video camera</a> for us.</span>
                            </div>
                        </div>
                        
                        <h3>More T-Shirt Stories!</h3>
                        <p>Good news: We have more T-shirt stories than we could fit on this site. For more, <a href="https://itunes.apple.com/us/podcast/npr-planet-money-podcast/id290783428" target="_blank">subscribe to the Planet Money podcast</a> and see our other T-shirt stories:
                        <ul class="toc">
                            <li><a href="{{ COPY.people.related_bangladesh_link }}" target="_blank">{{ COPY.people.related_bangladesh_text }}</a></li>
                            <li><a href="{{ COPY.people.related_korea_link }}" target="_blank">{{ COPY.people.related_korea_text }}</a></li>
                            <li><a href="{{ COPY.people.related_colombia_link }}" target="_blank">{{ COPY.people.related_colombia_text }}</a></li>
                            <li><a href="{{ COPY.boxes.related_trade_link }}" target="_blank">{{ COPY.boxes.related_trade_text }}</a></li>
                            <li><a href="{{ COPY.boxes.related_kenya_link }}" target="_blank">{{ COPY.boxes.related_kenya_text }}</a></li>
                        </ul>
                        
                        <h3>A Little Help From Our Friends</h3>
                        <p>Adam Davidson, Planet Money co-founder, came up with the idea of doing this project in the first place more than three years ago.</p>
                        <p>We were inspired a lot by a book: <a href="http://www.amazon.com/gp/product/0470287160/?SubscriptionId=AKIAJNA3QS2AGVCXHCCA&tag=npr-5-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=0470287160" target="_blank">The Travels Of A T-shirt In The Global Economy</a>. In fact, we hired the author, Pietra Rivoli, to be an adviser on the project. She’s a professor at the McDonough School of Business, Georgetown University.</p>
                        <p>After several years of trying and failing to make a T-shirt from scratch, we finally found some help from Jockey Corp. Marion Smith, the director of global sourcing for Jockey, was patient with us on the phone. (T-shirts are knitted, not woven. They’re made from something that looks like thread, but is called yarn.) Eventually, Jockey agreed to sell us T-shirts -- and, more importantly, to let us follow the creation of those shirts.</p>
                        
                        <div class="about-tshirt">
                        	<img src="img/spinner-sound.jpg" class="img-responsive">
                        	<p>Bawen, Indonesia: Jess Jiang faces the classic producer’s dilemma: One machine tells a story. A thousand create a racket. </p>
                        </div>
                        
                        <p>The Planet Money T-shirts are made of fabric that Jockey’s textile experts developed. They’re based on a design pattern Jockey uses for its own T-shirt line. Jockey introduced us to its suppliers in Bangladesh and Colombia, and those suppliers agreed to assemble our shirts. And Jockey designers helped us pick out the colors for our shirts.</p>

                        <h3>Credits</h3>
                        <div class="credits">
                            <p>{{ COPY.attribution.credits_alex }}</p>
                            <p>{{ COPY.attribution.credits_pietra }}</p>
                            <p>{{ COPY.attribution.credits_pm }}</p>
                            <p>{{ COPY.attribution.credits_multimedia }}</p>
                            <p>{{ COPY.attribution.credits_apps }} (<a href="{{ COPY.content.github_link }}">{{ COPY.content.github_link_text }}</a>)</p>
                            <p>{{ COPY.attribution.credits_editing }}</p>
                            <p>{{ COPY.attribution.credits_production }}</p>
                            <p>{{ COPY.attribution.credits_motion_graphics }}</p>
                            <p>{{ COPY.attribution.credits_illustrator }}</p>
                            <p>{{ COPY.attribution.credits_music }}</p>
                            <p><em>Published {{ COPY.attribution.pubdate }}</em></p>
                        </div>

                    </div><!-- /.col --> 
                </div><!-- /.row -->  
            </div><!-- /.container -->
        </div><!-- /.explainer -->
