    	<div class="layer-media">
    		
			<div class="titlecard  animated fadeIn">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>{{ COPY.people.fullname }}</h1>
							<h2>{{ COPY.people.chapter_subtitle }}</h2>
							<button class="btn btn-play">{{ COPY.content.chapter_play_button_label }}</button>
							</div><!-- /.col --> 
					</div><!-- /.row -->  
				</div><!-- /.container -->				
			</div><!-- /.titlecard --> 
	
			<div class="video-wrapper">
			    <div class="video-inner-wrapper">
			        <iframe src="" id="video-people" width="400" height="225" frameborder="0"></iframe>
			    </div>
			</div><!-- /.video-wrapper --> 
			
        </div><!-- /.layer-media --> 
        
        <div class="explainer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <h2>{{ COPY.people.explainer_headline }}</h2>
                        <p>This is the world behind our T-shirt: Women like Jasmine and Doris working long hours in difficult conditions, dreaming of better lives for their families.</p>

                        <div class="row photo-row">
                            <div class="col-md-8">
                                <img src="img/people-jasmine-800.jpg" alt="{{ COPY.people.photo_jasmine_caption }}" />
                            </div>
                            <div class="col-md-4">
                                <span class="caption">{{ COPY.people.photo_jasmine_caption }}</span>
                            </div>
                        </div>

                        <p>They’re part of a global wave that goes all the way back to the industrial revolution in England, when the first textile factories were created. In China in the 1990s, Korea in the 1970s, America in the early 1900’s, and many other countries over the years, workers &mdash; mostly women &mdash; left subsistence farms to work in factories.</p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="row photo-row">
                            <div class="col-md-12">
                                <h4>{{ COPY.people.photo_diptych_1_title }}</h4>
                                <div class="left">
                                    <img src="img/tshirt_diptychs_01-left-600.jpg" alt="Historical photo" />
                                    <span class="caption">{{ COPY.people.photo_diptych_1_caption_left }}</span>
                                </div>
                                <div class="right">
                                    <img src="img/tshirt_diptychs_01-right-600.jpg" alt="Modern photo" />
                                    <span class="caption">{{ COPY.people.photo_diptych_1_caption_right }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row photo-row">
                            <div class="col-md-12">
                                <h4>{{ COPY.people.photo_diptych_2_title }}</h4>
                                <div class="left">
                                    <img src="img/tshirt_diptychs_02-left-600.jpg" alt="Historical photo" />
                                    <span class="caption">{{ COPY.people.photo_diptych_2_caption_left }}</span>
                                </div>
                                <div class="right">
                                    <img src="img/tshirt_diptychs_02-right-600.jpg" alt="Modern photo" />
                                    <span class="caption">{{ COPY.people.photo_diptych_2_caption_right }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row photo-row">
                            <div class="col-md-12">
                                <h4>{{ COPY.people.photo_diptych_3_title }}</h4>
                                <div class="left">
                                    <img src="img/tshirt_diptychs_03-left-600.jpg" alt="Historical photo" />
                                    <span class="caption">{{ COPY.people.photo_diptych_3_caption_left }}</span>
                                </div>
                                <div class="right">
                                    <img src="img/tshirt_diptychs_03-right-600.jpg" alt="Modern photo" />
                                    <span class="caption">{{ COPY.people.photo_diptych_3_caption_right }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row photo-row">
                            <div class="col-md-12">
                                <h4>{{ COPY.people.photo_diptych_5_title }}</h4>
                                <div class="left">
                                    <img src="img/tshirt_diptychs_05-left-600.jpg" alt="Historical photo" />
                                    <span class="caption">{{ COPY.people.photo_diptych_5_caption_left }}</span>
                                </div>
                                <div class="right">
                                    <img src="img/tshirt_diptychs_05-right-600.jpg" alt="Modern photo" />
                                    <span class="caption">{{ COPY.people.photo_diptych_5_caption_right }}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <p>The factories could be brutal, dangerous places. In 1911, a fire at the Triangle Shirtwaist Factory in New York killed over 100 workers, and prompted major reforms that improved working conditions. Last year, the Rana Plaza factory building in Bangladesh collapsed  and killed more than 1,000 workers, leading to huge protests around the country and increased global pressure on Bangladesh to improve working conditions and wages.</p>
                        
                        <p>The main garment workers union in Bangladesh is asking for the minimum wage to be raised to $105 a month &mdash; still low by global standards, but roughly triple the current minimum. The workers who made the Planet Money T-shirt make between $70 and $80 a month.</p>

                        <p class="promo-link">{{ COPY.people.related_bangladesh_leadin }}: <a href="{{ COPY.people.related_bangladesh_link }}" target="_blank">{{ COPY.people.related_bangladesh_text }}</a></p>
                        
                        <div class="graphic apparel-wages d3-chart">
                            <h4>{{ COPY.people.graphic_wages_headline }}</h4>
                            <h5>{{ COPY.people.graphic_wages_subhed }}</h5>

                            <div id="apparel-wages-d3">
                                <table>
                                    <tr>
                                        <th>Country</th>
                                        <th class="amt">Monthly wage</th>
                                    </tr>
                                    <tr>
                                        <td>Hong Kong</td>
                                        <td class="amt">$800</td>
                                    </tr>
                                    <tr>
                                        <td>Turkey</td>
                                        <td class="amt">538</td>
                                    </tr>
                                    <tr>
                                        <td>Colombia</td>
                                        <td class="amt">307</td>
                                    </tr>
                                    <tr>
                                        <td>Malaysia*</td>
                                        <td class="amt">247</td>
                                    </tr>
                                    <tr>
                                        <td>China*</td>
                                        <td class="amt">138</td>
                                    </tr>
                                    <tr>
                                        <td>Mexico*</td>
                                        <td class="amt">125</td>
                                    </tr>
                                    <tr>
                                        <td>Indonesia*</td>
                                        <td class="amt">84</td>
                                    </tr>
                                    <tr>
                                        <td>Cambodia</td>
                                        <td class="amt">80</td>
                                    </tr>
                                    <tr>
                                        <td>Vietnam*</td>
                                        <td class="amt">78</td>
                                    </tr>
                                    <tr>
                                        <td>India*</td>
                                        <td class="amt">71</td>
                                    </tr>
                                    <tr class="shadedrow">
                                        <td>Bangladesh</td>
                                        <td class="amt">39</td>
                                    </tr>
                                </table>
                            </div>

                            <p class="footnote">{{ COPY.people.graphic_wages_footnote }}</p>
                            <p class="credit">{{ COPY.people.graphic_wages_source }}</p>
                        </div>

                        <p>Factory owners say that if the minimum goes up to $105 a month, the garment industry will pull up stakes and find someplace else to make T-shirts. That’s what’s happened for decades: When labor costs rose in one country, western buyers found someplace cheaper, and prices for clothes continued to fall.</p>

                        <p class="promo-link">{{ COPY.people.related_colombia_leadin }}: <a href="{{ COPY.people.related_colombia_link }}" target="_blank">{{ COPY.people.related_colombia_text }}</a></p>

                        <p>In the case of the Planet Money T-shirt, the buyer is us &mdash; at least, it’s Jockey, the company that helped us make our shirts. Jockey told us the pattern of leaving when wages rise may be coming to an end for now, because there’s no country that’s ready to replace Bangladesh as the cheapest place in the world to make clothes.</p>
                        <p>“Bangladesh is going to go up” Marion Smith, a senior vice president at Jockey told us. “That’s good news from a humanitarian point of view.”</p>
                        <p>Pay for workers like Jasmine makes a up just a tiny fraction of the finished cost of a T-shirt. If wages in Bangladesh go up and the global garment industry stays put, prices for T-shirts may rise a little in the U.S. &mdash; and wages for workers like Jasmine may go up a lot.</p>
                        <p>But the long-run picture for Bangladeshi garment workers is less clear.</p>
                        <p>In China, Korea and Japan, to name just a few countries, the apparel industry brought with it investment and manufacturing knowledge, which those countries used to expand into higher-wage industries like electronics.</p>

                        <p class="promo-link">{{ COPY.people.related_korea_leadin }}: <a href="{{ COPY.people.related_korea_link }}" target="_blank">{{ COPY.people.related_korea_text }}</a></p>
                        
                        <div class="graphic tshirt-phase d3-chart">
                            <h4>{{ COPY.people.graphic_tshirtphase_headline }}</h4>
                            <h5>{{ COPY.people.graphic_tshirtphase_subhed }}</h5>

                            <div id="tshirt-phase-d3">
                                <img src="img/gr-people-tshirt-phase.gif" alt="Graph: The United Kingdom, Japan, South Korea and China have all experienced sharp rises and then drops in their apparel industries. Bangladesh is still on the rise." />
                            </div>

                            <p class="footnote">{{ COPY.people.graphic_tshirtphase_footnote }}</p>
                            <p class="credit">{{ COPY.people.graphic_tshirtphase_source }}</p>
                        </div>
                        
                        <p>The graph above shows how textiles and apparel exports fell off as countries moved into other, more lucrative industries. Bangladesh stands out on the graph for a few reasons. For one, apparel exports make up a bigger share of Bangladesh’s exports than it ever did for any of the other countries. And that share is still rising. If the next generation of workers like Jasmine is to have more opportunities, that line needs to fall, and Bangladesh needs to expand into other industries. It’s unclear whether that will happen.</p>

                    </div><!-- /.col --> 
                </div><!-- /.row -->  
            </div><!-- /.container -->
        </div><!-- /.explainer -->
