    	<div class="layer-media">
			
			<div class="titlecard  animated fadeIn">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>{{ COPY.boxes.fullname }}</h1>
							<h2>{{ COPY.boxes.chapter_subtitle }}</h2>
							<button class="btn btn-play">{{ COPY.content.chapter_play_button_label }}</button>
                        </div><!-- /.col --> 
					</div><!-- /.row -->  
				</div><!-- /.container -->				
			</div><!-- /.titlecard --> 
	
			<div class="video-wrapper">
			    <div class="video-inner-wrapper">
			        <iframe src="" id="video-boxes" width="400" height="225" frameborder="0"></iframe>
			    </div>
			</div><!-- /.video-wrapper --> 
			
        </div><!-- /.layer-media -->
        
        <div class="explainer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <h2>{{ COPY.boxes.explainer_headline }}</h2>
                        <p>The Planet Money T-shirts traveled around the world on their way to you.  The women’s shirt was made in Colombia, from cotton grown in the U.S. The men’s shirt was made in Indonesia and Bangladesh.</p>
                        <p>All this travel was made affordable by one simple innovation: the shipping container.</p>

                        <div class="graphic shipping-cotton">
                            <h4>{{ COPY.boxes.graphic_archive_headline }}</h4>
                            <h5>{{ COPY.boxes.graphic_archive_subhed }}</h5>
                            <div class="filmstrip-outer-wrapper">
                                <div class="filmstrip-wrapper">
                                    <div class="filmstrip animated"></div>
                                </div>
                            </div>
                            <p class="credit">{{ COPY.boxes.graphic_archive_sources }}</p>
                        </div>
                        
                        <div class="graphic shipping-container">
                            <h4>{{ COPY.boxes.graphic_container_headline }}</h4>
                            <h5>{{ COPY.boxes.graphic_container_subhed }}</h5>
                            <p><img src="img/boxes-diagram-800.jpg" alt="photo of a shipping container with dimensions" /></p>

                            <div class="row">
                                <div class="col-xs-6">
                                    <h6 class="shirts"><b></b>{{ COPY.boxes.graphic_container_pmshirts }}</h6>
                                </div>
                                <div class="col-xs-6">
                                    <h6 class="boxes"><b></b>{{ COPY.boxes.graphic_container_boxes }}</h6>
                                </div>
                            </div>
                            
                            <p class="credit">{{ COPY.boxes.graphic_container_sources }}</p>
                        </div>
                        
                        <p>Big metal boxes might not seem like an innovation. But without the humble container, the global economy wouldn’t be nearly as global as it is -- and the Planet Money T-shirt wouldn’t have been made the way it was.</p>
                        <p>Before containers, it was common for a single ship to be loaded with more than 100,000 different things -- bananas, fish meal, steel pipes -- all stuffed into sacks and boxes of different sizes. Workers had to pack each bag and box into the ship individually. Even with 50 or 100 people working, it could take weeks to unload and reload a single ship.</p>
                        <p>Malcolm Mclean, who led the move to containers, had no experiencewith ships at all. Mclean owned a trucking company back in the 1950s, before the Interstate highway system was built. It took forever for his trucks to get through traffic up and down the east coast.</p>
                        <p>Mclean had an idea: What if he put his trucks onto the ship in New York, and sailed them down the coast to North Carolina? He could hop over all that traffic! McLean eventually gave up on the idea of driving entire trucks onto boats and moved on to something that in the end makes a lot more sense. A truck is basically an engine attached to a box - so McLean made the box detachable.</p>
                        <p>Cranes could move the boxes from the trucks to the ship in New York. Cranes could put the boxes back on trucks in North Carolina. Not only would he skip traffic; it would make it profoundly easier to load and unload ships than it was before. (For much more on this story, see <a href="http://press.princeton.edu/titles/9383.html" target="_blank">The Box</a>, by Marc Levinson.)</p>
                        <p>Longshoremen fought containers for years: They saw that, with cranes and standardized containers, the number of people needed to load and unload ships would plummet. In the end, shipping companies agreed to pay into funds that would compensate workers who lost their jobs.</p>
                        <p>Standardized containers took off around the world, and by the mid 1960’s Malcolm Mclean -- the guy who dreamed of putting trucks on boats to avoid traffic -- had put together a fleet of container ships making international trips.</p>
                        <p>The age of containers had begun, and it greatly reduced the cost of shipping.  A global distribution system emerged around standardized boxes that could be easily moved from ships, to, trains to trucks.</p>
                        <p>Super cheap transport was a key reason that apparel companies went from making clothes in one place to managing of global supply chains -- so that, for example, a single T-shirt might start as U.S. cotton, then travel to Indonesia, Bangladesh and back to the U.S., all for far less than a dollar.</p>

                        <div class="graphic shipping-costs">
                            <h4>{{ COPY.boxes.graphic_costs_headline }}</h4>
                            <h5>{{ COPY.boxes.graphic_costs_subhed }}</h5>
                            <table>
                                <tr>
                                    <th scope="col">Service</th>
                                    <th scope="col">Country</th>
                                    <th scope="col" class="amt">Cost</th>
                                    <th scope="col" class="amt">Share</th>
                                </tr>
                                <tr>
                                    <td data-title="Service">Cotton</td>
                                    <td data-title="Country">U.S.</td>
                                    <td data-title="Cost" class="amt">$0.60</td>
                                    <td data-title="Share" class="amt">5%</td>
                                </tr>
                                <tr>
                                    <td data-title="Service">Yarn spinning</td>
                                    <td data-title="Country">Indonesia</td>
                                    <td data-title="Cost" class="amt">$0.40</td>
                                    <td data-title="Share" class="amt">3%</td>
                                </tr>
                                <tr>
                                    <td data-title="Service">Knitting, dyeing, cutting and sewing</td>
                                    <td data-title="Country">Bangladesh</td>
                                    <td data-title="Cost" class="amt">$1.00</td>
                                    <td data-title="Share" class="amt">8%</td>
                                </tr>
                                <tr class="shadedrow">
                                    <td data-title="Service">Shipping*</td>
                                    <td data-title="Country">n/a</td>
                                    <td data-title="Cost" class="amt">$0.10</td>
                                    <td data-title="Share" class="amt">1%</td>
                                </tr>
                                <tr>
                                    <td data-title="Service">Tariff</td>
                                    <td data-title="Country">U.S.</td>
                                    <td data-title="Cost" class="amt">$0.33</td>
                                    <td data-title="Share" class="amt">3%</td>
                                </tr>
                                <tr>
                                    <td data-title="Service">Jockey costs</td>
                                    <td data-title="Country">U.S.</td>
                                    <td data-title="Cost" class="amt">$2.67</td>
                                    <td data-title="Share" class="amt">22%</td>
                                </tr>
                                <tr>
                                    <td data-title="Service">Printing</td>
                                    <td data-title="Country">U.S.</td>
                                    <td data-title="Cost" class="amt">$0.90</td>
                                    <td data-title="Share" class="amt">7%</td>
                                </tr>
                                <tr>
                                    <td data-title="Service">Graphic design (the squirrel)</td>
                                    <td data-title="Country">U.S.</td>
                                    <td data-title="Cost" class="amt">$0.12</td>
                                    <td data-title="Share" class="amt">1%</td>
                                </tr>
                                <tr>
                                    <td data-title="Service">Order fulfillment</td>
                                    <td data-title="Country">U.S.</td>
                                    <td data-title="Cost" class="amt">$1.79</td>
                                    <td data-title="Share" class="amt">14%</td>
                                </tr>
                                <tr>
                                    <td data-title="Service">Shipping and handling (avg.)</td>
                                    <td data-title="Country">U.S.</td>
                                    <td data-title="Cost" class="amt">$2.26</td>
                                    <td data-title="Share" class="amt">18%</td>
                                </tr>
                                <tr>
                                    <td data-title="Service">Kickstarter fees</td>
                                    <td data-title="Country">U.S.</td>
                                    <td data-title="Cost" class="amt">$1.21</td>
                                    <td data-title="Share" class="amt">10%</td>
                                </tr>
                                <tr>
                                    <td data-title="Service">Amazon Payments fees</td>
                                    <td data-title="Country">U.S.</td>
                                    <td data-title="Cost" class="amt">$1.04</td>
                                    <td data-title="Share" class="amt">8%</td>
                                </tr>
                                <tfoot>
                                    <tr>
                                        <td><strong>Total</strong></td>
                                        <td></td>
                                        <td data-title="TOTAL" class="amt"><strong>$12.42</strong></td>
                                        <td data-title="Share" class="amt"><strong>100%</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                            
                            <p class="footnote">{{ COPY.boxes.graphic_costs_footnote }}</p>
                            <p class="credit">{{ COPY.boxes.graphic_costs_sources }}</p>
                        </div>
                        
                    </div><!-- /.col --> 
                </div><!-- /.row -->  
            </div><!-- /.container -->
        </div><!-- /.explainer -->
