    	<div class="layer-media">

			<div class="titlecard">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>{{ COPY.machines.fullname }}</h1>
							<h2>{{ COPY.machines.chapter_subtitle }}</h2>
							<button class="btn btn-play">{{ COPY.content.chapter_play_button_label }}</button>
							</div><!-- /.col --> 
					</div><!-- /.row -->  
				</div><!-- /.container -->				
			</div><!-- /.titlecard --> 
	
			<div class="video-wrapper">
			    <div class="video-inner-wrapper">
			        <iframe src="" id="video-machines" width="400" height="225" frameborder="0"></iframe>
			    </div>
			</div><!-- /.video-wrapper --> 
			
        </div><!-- /.layer-media --> 
        
        <div class="explainer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <h3>Robots text</h3> 
                        <p>We chased our bales of Mississippi cotton through the streets of Jakarta and out into the Indonesian countryside, where rice fields have been turned into Honda plants and satellite farms.</p>
                        <p>It's a busy, crowded place &mdash; until you walk into the Indorama yarn factory. The building is a big as a football field, and there's almost no one there.  Just row after row of shiny machines</p>
                        <p>Spinning cotton into yarn (it looks like thread, but it's called yarn) is one of the oldest technologies there is. Yarn spinning machines were a key part of the industrial revolution, 200 years ago in England. You can even spin yarn by hand, at home, if you have some cotton and a bunch of free time.</p>
                        <p>Today, yarn spinning is a high-tech, capital intensive business. The Indonesian factory where the cotton for the Planet Money men's T-shirt was spun into yarn cost $35 million. What you get for that money is a factory that can make yarn with incredible precision, 24 hours a day, 365 days a year.</p>

                        <div class="graphic yarn-types">
                            <h4>Yarn Ratings</h4>
                            <p>[ Graphic: TBD ]</p>
                            <p class="credit">
                                Source: ???
                            </p>
                        </div>
                        
                        <p>The Planet Money T-shirt has six miles of yarn in it. If any of that yarn is too thick or too thin &mdash; even by a little bit &mdash; the T-shirt will warp or won't fit right. The Jockey Corporation picked out the yarn for our T-shirt &mdash; and they wouldn't tell us exactly what the specs are.</p>
                        <p>"That's our special sauce," Marion TK, Jockey's TK, said. It's like the secret formula for Coke, but softer on the skin.</p>
                        <p>The Indorama factory in Indonesia isn't using some sort of proprietary process. Anyone can buy these machines and set up a factory exactly like this. But Indonesia is in a sweet spot right in the middle of the global t-shirt trade. Wages are lower here than they are in developed countries. At the same time, unlike many countries where labor is even cheaper, Indonesia the cheap, reliable electricity and educated workforce that you need to keep high-tech factories humming.</p>
                        <p>But staying in the sweet spot in a global economy is almost impossible.  At some point, a country that has cheaper labor or is closer to where clothes are  made will find the money, the electricity and the workers to build their own, big spinning plant. Anyone who can produce the same quality yarn for a few pennies cheaper will win.</p>

                    </div><!-- /.col --> 
                </div><!-- /.row -->  
            </div><!-- /.container -->
        </div><!-- /.explainer -->
