    	<div class="layer-media">
    		
			<div class="titlecard">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>{{ COPY.people.fullname }}</h1>
							<h2>{{ COPY.people.chapter_subtitle }}</h2>
							<button class="btn btn-play">{{ COPY.content.chapter_play_button_label }}</button>
							</div><!-- /.col --> 
					</div><!-- /.row -->  
				</div><!-- /.container -->				
			</div><!-- /.titlecard --> 
	
			<div class="video-wrapper">
			    <div class="video-inner-wrapper">
			        <iframe src="" id="video-people" width="400" height="225" frameborder="0"></iframe>
			    </div>
			</div><!-- /.video-wrapper --> 
			
        </div><!-- /.layer-media --> 
        
        <div class="explainer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <h2>{{ COPY.people.explainer_headline }}</h2>
                        <p>This is the world behind our T-shirt: A tiny concrete room shared by three people who dream of a better life for their family.</p>
                        
                        <div class="row photo-row">
                            <div class="col-md-12">
                                <img src="img/people-jasmine-800.jpg" alt="{{ COPY.people.photo_jasmine_caption }}" />
                                <span class="caption">{{ COPY.people.photo_jasmine_caption }}</span>
                            </div>
                        </div>

                        <p>Shumi and Minu are sisters who, like Jasmine, worked on our shirt. They live in this room with Minu’s husband, NAME TK. There’s a TV in the corner that Minu bought with her own money. She’s so proud that she couldn’t bear to throw away the box the TV came in, so it sits on a shelf, taking up valuable space. Shumi manages to save $6 a month, which she hopes will pay for her wedding someday.</p>

                        <p class="promo-link">{{ COPY.people.related_bangladesh_leadin }}: <a href="{{ COPY.people.related_bangladesh_link }}" target="_blank">{{ COPY.people.related_bangladesh_text }}</a></p>

                        <p>Like Jasmine &mdash; and like millions of other Bangladeshi women &mdash; Shumi and Minu left abject poverty in a rural village to work in a factory. Now they can send money home. Their younger siblings can go to school. Their family doesn’t go hungry anymore.</p>

                        <div class="row photo-row">
                            <div class="col-md-12">
                                <img src="img/tshirt_diptychs_01-800.jpg" alt="{{ COPY.people.photo_diptych_1_caption }}" />
                                <span class="caption">{{ COPY.people.photo_diptych_1_caption }}</span>
                            </div>
                        </div>

                        <p>But there’s not much room in this life for any mistakes; if either of the sisters lost her job, the family could quickly go back to not having enough to eat. And, of course, it’s still a life of deprivation. Minu and her husband sleep on the floor. The apartment has no running water, no kitchen.</p>
                        <p>The global garment industry is flocking to Bangladesh for a simple reason: It’s the cheapest place in the world to make clothes. Shumi and Minu and Jasmine make about $80 a month. Many workers in the country make even less: The minimum wage is just $39 a month.</p>

                        <div class="graphic apparel-wages d3-chart">
                            <h4>{{ COPY.people.graphic_wages_headline }}</h4>
                            <h5>{{ COPY.people.graphic_wages_subhed }}</h5>

                            <div id="apparel-wages-d3">
                                <table>
                                    <tr>
                                        <th>Country</th>
                                        <th class="amt">Monthly wage</th>
                                    </tr>
                                    <tr>
                                        <td>Hong Kong</td>
                                        <td class="amt">$800</td>
                                    </tr>
                                    <tr>
                                        <td>Turkey</td>
                                        <td class="amt">538</td>
                                    </tr>
                                    <tr>
                                        <td>Colombia</td>
                                        <td class="amt">307</td>
                                    </tr>
                                    <tr>
                                        <td>Malaysia</td>
                                        <td class="amt">247</td>
                                    </tr>
                                    <tr>
                                        <td>China</td>
                                        <td class="amt">138</td>
                                    </tr>
                                    <tr>
                                        <td>Mexico</td>
                                        <td class="amt">125</td>
                                    </tr>
                                    <tr>
                                        <td>Indonesia</td>
                                        <td class="amt">84</td>
                                    </tr>
                                    <tr>
                                        <td>Cambodia</td>
                                        <td class="amt">80</td>
                                    </tr>
                                    <tr>
                                        <td>Vietnam</td>
                                        <td class="amt">78</td>
                                    </tr>
                                    <tr>
                                        <td>India</td>
                                        <td class="amt">71</td>
                                    </tr>
                                    <tr class="shadedrow">
                                        <td>Bangladesh</td>
                                        <td class="amt">39</td>
                                    </tr>
                                </table>
                            </div>

                            <p class="footnote">{{ COPY.people.graphic_wages_footnote }}</p>
                            <p class="credit">{{ COPY.people.graphic_wages_source }}</p>
                        </div>

                        <div class="row photo-row">
                            <div class="col-md-12">
                                <img src="img/tshirt_diptychs_02-800.jpg" alt="{{ COPY.people.photo_diptych_2_caption }}" />
                                <span class="caption">{{ COPY.people.photo_diptych_2_caption }}</span>
                            </div>
                        </div>

                        <p>The workers are part of a global wave that goes all the way back to the industrial revolution in England, when the first textile factories were created. In country after country, workers &mdash; mostly women &mdash; left subsistence farms to work in factories, where they often faced brutal, dangerous conditions.</p>

                        <div class="graphic tshirt-phase d3-chart">
                            <h4>{{ COPY.people.graphic_tshirtphase_headline }}</h4>
                            <h5>{{ COPY.people.graphic_tshirtphase_subhed }}</h5>

                            <div id="tshirt-phase-d3">
                                <img src="img/gr-people-tshirt-phase.gif" alt="Graph: The United Kingdom, Japan, South Korea and China have all experienced sharp rises and then drops in their apparel industries. Bangladesh is still on the rise." />
                            </div>

                            <p class="footnote">{{ COPY.people.graphic_tshirtphase_footnote }}</p>
                            <p class="credit">{{ COPY.people.graphic_tshirtphase_source }}</p>
                        </div>

                        <p class="promo-link">{{ COPY.people.related_korea_leadin }}: <a href="{{ COPY.people.related_korea_link }}" target="_blank">{{ COPY.people.related_korea_text }}</a></p>
                        
                        <div class="row photo-row">
                            <div class="col-md-12">
                                <img src="img/tshirt_diptychs_03-800.jpg" alt="{{ COPY.people.photo_diptych_3_caption }}" />
                                <span class="caption">{{ COPY.people.photo_diptych_3_caption }}</span>
                            </div>
                        </div>

                        <p>In 1911, a fire at the Triangle Shirtwaist Factory in New York killed over 100 workers, and prompted major reforms that improved working conditions. Last year, the Rana Plaza factory building in Bangladesh collapsed  and killed more than 1,000 workers, leading to huge protests around the country and increased global pressure on Bangladesh to improve working conditions. Any day now, the government is expected to announce a new, higher minimum wage.</p>
                        <p>The main garment workers union is asking for the minimum wage to be raised to $105 a month &mdash; still low by global standards, but roughly triple the current minimum. Factory owners say that if the minimum wage goes up to $105 a month, buyers from the developed world will pull up stakes and find someplace else to make T-shirts. But the factory owners may be wrong.</p>

                        <p class="promo-link">{{ COPY.people.related_colombia_leadin }}: <a href="{{ COPY.people.related_colombia_link }}" target="_blank">{{ COPY.people.related_colombia_text }}</a></p>

                        <div class="row photo-row">
                            <div class="col-md-12">
                                <img src="img/tshirt_diptychs_04-800.jpg" alt="{{ COPY.people.photo_diptych_4_caption }}" />
                                <span class="caption">{{ COPY.people.photo_diptych_4_caption }}</span>
                            </div>
                        </div>

                        <p>In the case of the Planet Money T-shirt, the buyer is us &mdash; at least, it’s Jockey, the company that sold us our t-shirt. Jockey told us that the garment industry’s decades-long chase for cheaper wages may be coming to an end.</p>
                        <p>“Bangladesh is going to go up, and who’s cheaper than Bangladesh?” Smith told us. “And that’s good news from a humanitarian point of view.”</p>

                        <div class="row photo-row">
                            <div class="col-md-12">
                                <img src="img/tshirt_diptychs_05-800.jpg" alt="{{ COPY.people.photo_diptych_5_caption }}" />
                                <span class="caption">{{ COPY.people.photo_diptych_5_caption }}</span>
                            </div>
                        </div>

                        <p>Pay for workers like Jasmine and Shumi and Minu makes a up just a tiny fraction of the finished cost of a T-shirt. That means that, if Smith is right and the global garment industry stays put in Bangladesh, prices for T-shirts may rise a little in the U.S. &mdash; and wages for workers like Shumi, Minu and Jasmine may go up a lot.</p>

                    </div><!-- /.col --> 
                </div><!-- /.row -->  
            </div><!-- /.container -->
        </div><!-- /.explainer -->
