        <div class="explainer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <h2>{{ COPY.content.about_title }}</h2>
                        <p>amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        
                        <h3>Our First Attempt</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                        <h3>The Kickstarter</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. By the time the project closed, <a href="http://www.kickstarter.com/projects/planetmoney/planet-money-t-shirt">20,242 people had backed the project</a>. Their contributions added up to $590,807. <a href="http://www.npr.org/blogs/money/2013/05/15/184208123/were-making-t-shirts-lots-and-lots-of-t-shirts">We were overjoyed and overwhelmed.</a></p>
                        
                        <h3>Our Reporting Trips</h3>
                        
                        <p>[ MAP? ]</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>We <a href="http://seedtoshirt.tumblr.com/">set up a Tumblr</a> to share some of our adventures along the way:</p>

                        <div class="row photo-row">
                            <div class="col-md-4 photo1">
                                <a href="http://seedtoshirt.tumblr.com/post/63513791248/clarksdale-mississippi-the-members-of-team"><img src="img/about-cotton-jess.jpg" alt="Jess Jiang and Robert Smith visit a cotton farm in Clarksdale, Miss." /></a>
                                <span class="caption">Robert Smith (in shadow) and Jess Jiang <a href="http://seedtoshirt.tumblr.com/post/63513791248/clarksdale-mississippi-the-members-of-team">visit a cotton farm</a> in Clarksdale, Miss.</span>
                            </div>
                            <div class="col-md-4 photo2">
                                <a href="http://seedtoshirt.tumblr.com/post/62421475411/jacksonville-florida-i-spent-a-sleepless-night"><img src="img/about-container-eric.jpg" alt="Eric Helton attached a GoPro video camera to the shipping container with our women's tees" /></a>
                                <span class="caption">Eric Helton <a href="http://seedtoshirt.tumblr.com/post/62421475411/jacksonville-florida-i-spent-a-sleepless-night">attached a video camera</a> to our shipping container in Jacksonville, Fla.</span>
                            </div>
                            <div class="col-md-4 photo3">
                                <a href="http://seedtoshirt.tumblr.com/post/59577750028/chittagong-bangladesh-adventures-with-the"><img src="img/about-bangladesh-gopro.jpg" alt="In Bangladesh, factory supervisor Kulsum agreed to wear a GoPro video camera for an afternoon." /></a>
                                <span class="caption">Kulsum, a factory supervisor in Bangladesh, <a href="http://seedtoshirt.tumblr.com/post/59577750028/chittagong-bangladesh-adventures-with-the">wore a video camera</a> for us.</span>
                            </div>
                        </div>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                        <h3>All Of Our Stories</h3>
                        <dl class="table-of-contents">
                            <dt>{{ COPY.plants.fullname }}</dt>
                                <dd>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ S3_BASE_URL }}/#/{{ COPY.plants.shortname }}">{{ COPY.plants.chapter_subtitle }}</a> <span class="date">(Nov. 18, 2013)</span></li>
                                    </ul>
                                </dd>
                            <dt>{{ COPY.machines.fullname }}</dt>
                                <dd>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ S3_BASE_URL }}#/{{ COPY.machines.shortname }}">{{ COPY.machines.chapter_subtitle }}</a> <span class="date">(Nov. 18, 2013)</span></li>
                                    </ul>
                                </dd>
                            <dt>{{ COPY.people.fullname }}</dt>
                                <dd>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ S3_BASE_URL }}#/{{ COPY.people.shortname }}">{{ COPY.people.chapter_subtitle }}</a> <span class="date">(Nov. 18, 2013)</span></li>
                                    </ul>
                                </dd>
                            <dt>{{ COPY.ships.fullname }}</dt>
                                <dd>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ S3_BASE_URL }}#/{{ COPY.ships.shortname }}">{{ COPY.ships.chapter_subtitle }}</a> <span class="date">(Nov. 18, 2013)</span></li>
                                    </ul>
                                </dd>
                            <dt>{{ COPY.you.fullname }}</dt>
                                <dd>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ S3_BASE_URL }}/#/{{ COPY.you.shortname }}">{{ COPY.you.chapter_subtitle }}</a> <span class="date">(Nov. 18, 2013)</span></li>
                                    </ul>
                                </dd>
                        </dl>
                                                
                        <h3>Credits</h3>
                        <div class="credits">
                            <p>{{ COPY.attribution.credits_pm }}</p>
                            <p>{{ COPY.attribution.credits_multimedia }}</p>
                            <p>{{ COPY.attribution.credits_production }}</p>
                            <p>{{ COPY.attribution.credits_apps }} (<a href="{{ COPY.content.github_link }}">{{ COPY.content.github_link_text }}</a>)</p>
                            <p>{{ COPY.attribution.thanks }}</p>
                            <p>{{ COPY.attribution.credits_music }}</p>
                            <p><em>Originally published {{ COPY.attribution.pubdate }}</em></p>
                        </div>

                    </div><!-- /.col --> 
                </div><!-- /.row -->  
            </div><!-- /.container -->
        </div><!-- /.explainer -->
