    	<div class="layer-media">
    	
            <video class="title-video" preload="metadata" autoplay="autoplay" loop="loop" muted="muted">
                <source src="http://pd.npr.org/npr-mp4/npr/pmvid/2013/10/20131025_pmvid_cottonloop7.mp4" type="video/mp4">
                <source src="http://pd.npr.org/17354/npr-webm/npr/pmvid/2013/10/20131025_pmvid_cottonloop7.webm" type="video/webm">
            </video>

			<div class="titlecard">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>{{ COPY.plants.fullname }}</h1>
							<h2>{{ COPY.plants.chapter_subtitle }}</h2>
							<button class="btn btn-play">{{ COPY.content.chapter_play_button_label }}</button>
						</div><!-- /.col --> 
					</div><!-- /.row -->  
				</div><!-- /.container -->				
			</div><!-- /.titlecard --> 
	
			<div class="video-wrapper">
			    <div class="video-inner-wrapper">
			        <iframe src="" id="video-plants" width="400" height="225" frameborder="0"></iframe>
			    </div>
			</div><!-- /.video-wrapper --> 
			
        </div><!-- /.layer-media --> 
        
        <div class="explainer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Why The U.S. Leads The World In Cotton Exports</h2>
                        <p>You can grow cotton anywhere there's access to sun and water. You can grow it in places where land and labor are cheap. You can grow it in places that are close to the countries &mdash; Colombia, Indonesia, Bangladesh &mdash; where the Planet Money T-shirt was made. Yet most of the cotton in the Planet Money T-shirts was grown in the U.S.</p>
                        <p>As it turns out, this is pretty common. In fact, the U.S. exports more cotton than any country in the world.</p>
                        <div class="graphic cotton-exports d3-chart">
                            <h4>Top Global Cotton Exporters, 2000-2012</h4>
                            <h5>Cotton exported, in thousands of metric tons</h5>
                        
                            <div id="cotton-exports-d3">
                                <img class="chart" src="img/gr-plants-exports.gif" alt="graph showing cotton exports over time from major cotton-producing countries" />
                            </div>

                            <p class="credit">
                                Source: USDA Foreign Agricultural Service
                            </p>
                        </div>

                        <p>Here's why.</p>
    
                        <h3>Technology</h3>
                        <p>The U.S. has perfected cotton by treating it as a high-tech product.</p>
                        <p>Genetically modified crops are controversial, but not among U.S. cotton farmers: TK percent of U.S. cotton comes from seeds that are constantly tweaked to produce more cotton and better resist pests.</p>
                        <p>When it's time to harvest those seeds, U.S. farmers use huge, high-tech machines that allow them to pick huge amounts of cotton in a short amount of time. Just last year, Bowen Flowers bought five John Deere Tks &mdash; at a cost of $600,000 a pop.</p>
                        <p>Like the seeds, the Tks get more productive every year. The newest John Deere picker needs just one guy to do what took 5 guys a couple years ago. One driver can do a hundred acres a day &mdash; and he barely needs to touch the steering wheel. The John Deere is, essentially, a robot that feels the cotton plants and knows the exact dimensions of the field.</p>
                        <div class="graphic cotton-yields">
                            <h4>So Much Cotton, So Few People</h4>
                            <h5>Bowen Flowers, a Mississippi cotton farmer, shared some of the numbers behind his operation.</h5>
                            <div class="row">
                                <div class="col-sm-4">
                                    <table>
                                        <tr>
                                            <th colspan="2"><strong>13</strong> people</th>
                                        </tr>
                                        <tr>
                                            <td>Drivers</td>
                                            <td class="amt">8</td>
                                        </tr>
                                        <tr>
                                            <td>Mechanics / technicians</td>
                                            <td class="amt">3</td>
                                        </tr>
                                        <tr>
                                            <td>Supervisors</td>
                                            <td class="amt">2</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-4">
                                    <table>
                                        <tr>
                                            <th colspan="2"><strong>26</strong> machines</th>
                                        </tr>
                                        <tr>
                                            <td>Cotton pickers</td>
                                            <td class="amt">5</td>
                                        </tr>
                                        <tr>
                                            <td>Cultivators</td>
                                            <td class="amt">5</td>
                                        </tr>
                                        <tr>
                                            <td>Hooded sprayers</td>
                                            <td class="amt">5</td>
                                        </tr>
                                        <tr>
                                            <td>Planters</td>
                                            <td class="amt">5</td>
                                        </tr>
                                        <tr>
                                            <td>Tractors</td>
                                            <td class="amt">5</td>
                                        </tr>
                                        <tr>
                                            <td>Crop duster</td>
                                            <td class="amt">1</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-4 totals">
                                    <h6>Harvest</h6>
                                    <p>Flowers projected that in 2013, his farm would produce 12,000 bales of cotton &mdash; <strong>the equivalent of 8.68 million T-shirts</strong>.</p>
                                </div>
                            </div>
                            <p class="footnote">Note: Flowers's farm produces more than just cotton. Some of this machinery and staff also work on other crops.</p>
                        </div>
                        <p>Today, a single machine can pick more in a day than a picker 50 years ago could have picked in a lifetime.</p>

                        <h3>Subsidies</h3>
                        <p>U.S. cotton farmers benefit from a bunch of government subsidy programs. (Other countries subsidize their cotton farmers as well, by the way.) The government gives taxpayer money directly to cotton farmers, and subsidizes insurance that protects farmers if their harvest is weak or cotton prices fall.</p>
                    
                        <div class="graphic cotton-subsidies">
                            <h4>How The U.S. Government Subsidizes Cotton Farmers</h4>
                            <dl>
                                <dt class="crop-insurance"><b></b> <strong>Crop Insurance</strong></dt>
                                <dd>The government subsidizes several kinds of insurance available to cotton farmers. One popular option is revenue insurance, which pays farmers if they make less money than they expect. This can happen for a few reasons &mdash; cotton prices may fall, or a farmer may have a bad harvest. Whatever the reason, revenue insurance. The insurance is sold by private companies, which are subsidized by the government. The government pays a big chunk of the premiums for the farmers.</dd>
                            
                                <dt class="prices-fall"><b></b> <strong>Direct Payments When Prices Fall</strong></dt>
                                <dd>Through the "countercyclical program," the federal government pays cotton farmers when the average price of cotton falls below a certain level. The level is based on average prices over the past few years. Payments have been rising recently, so the government hasn't been making payments via this program.</dd>
                            
                                <dt class="cotton"><b></b> <strong>Direct Payments When Prices Don't Fall (And, Also, When They Do)</strong></dt>
                                <dd>If you grew cotton on your farm in the 1990s, you get a cash payment from the government &mdash; even if you don't grow cotton on your farm anymore, and even if cotton prices are going through the roof. The payment is based on how many acres of cotton you cultivated in the past.</dd>
                            </dl>
                        </div>

                        <p>The latest version of the farm bill, which Congress is working on this month is likely to change these subsidies. Farmers may get less money in the form of direct payments, and more in the form of subsidized insurance.</p>
    
                        <h3>Data</h3>
                        <p>For the Planet Money men's T-shirt, U.S. cotton traveled TK thousand miles to Indonesia, where it was spun into yarn. (And by yarn we mean thread. In the clothing business, people call it yarn.)</p>
                        <p>In Indonesia, we learned that U.S. cotton so desirable in part because factories know exactly what they're getting without ever seeing or touching the yarn. The spinners have a special recipe for their yarn, and they need exactly the right cotton. No surprises.</p>
                        <p>The U.S. is great at delivering no-surprises cotton. Every year, the USDA tests all 17 million bales of cotton harvested every year in the U.S. The farmers pay for the testing, and the USDA figures out exactly how fine, long, strong and stretchy every bale of cotton is.</p>
                        <p>The testing means a cotton buyer in Indonesia can order a bale of U.S. cotton that's guaranteed to match his exact specifications, every time.</p>

                        <div class="graphic cotton-rating">
                            <h4>How Bowen Flowers's Cotton Rated</h4>
                            <div class="cotton-sample">
                                <ul>
                                    <li>
                                        <b>Color</b>
                                        <i>41-1</i>
                                        <span>(average)</span>
                                    </li>
                                    <li>
                                        <b>Fineness</b>
                                        <i>4.53</i>
                                        <span>(average)</span>
                                    </li>
                                    <li>
                                        <b>Length</b>
                                        <i>1.17</i>
                                        <span>(above average)</span>
                                    </li>
                                    <li>
                                        <b>Strength</b>
                                        <i>30.2</i>
                                        <span>(above average)</span>
                                    </li>
                                    <li>
                                        <b>Stretchiness</b>
                                        <i>7.5</i>
                                        <span>(above average)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- /.col --> 
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div> <!-- /. explainer -->
