    	<div class="layer-media">

			<div class="titlecard animated fadeIn">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>{{ COPY.you.fullname }}</h1>
							<h2>{{ COPY.you.chapter_subtitle }}</h2>
							<button class="btn btn-play">{{ COPY.content.chapter_play_button_label }}</button>
                        </div><!-- /.col --> 
					</div><!-- /.row -->  
				</div><!-- /.container -->				
			</div><!-- /.titlecard -->
	
			<div class="video-wrapper">
			    <div class="video-inner-wrapper">
			        <iframe src="" id="video-you" width="400" height="225" frameborder="0"></iframe>
			    </div>
			</div><!-- /.video-wrapper --> 
			
        </div><!-- /.layer-media -->
        
        <div class="explainer">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">

                    <h2>{{ COPY.you.explainer_headline }}</h2>
                    <p>{{ COPY.you.intro_copy }}</p>
                    
                    <div id="seedtoselfie">
                        <div id="selfie-tooltip"></div>
                    </div>

                </div><!-- /.col --> 
            </div><!-- /.row -->  
        </div><!-- /.explainer -->
