<a href="http://www.amazon.com/dp/0470287160?tag=npr-5-20">
The Travels of a T-Shirt in the Global Economy: An Economist Examines the Markets, Power, and Politics of World Trade
</a>

                            <form role="form" id="t-shirt-form" action="{{ form_url }}" method="post">

                            <div class="row">
                                <div class="col-md-12">

                                  <div class="select-shirt form-group">
                                    <h3>1. Select a shirt</h3>

                                    <select class="form-control" id="shirt">
                                        <option selected="selected" value="">--</option>
                                        <option>Men's Small</option>
                                        <option>Men's Medium</option>
                                        <option>Men's Large</option>
                                        <option>Men's Extra-large</option>
                                        <option>Women's Small</option>
                                        <option>Women's Medium</option>
                                        <option>Women's Large</option>
                                    </select>

                                  </div><!--/form-group-->

                                  <div class="form-group">
                                      <h3>2. Shipping Information</h3>
                                      <p><em>All fields are required</em></p>

                                      <label for="name">Full Name</label>
                                      <input id="name" type="text" class="form-control">
                                      <label for="name">Email</label>
                                      <input id="email" type="text" class="form-control">
                                      <label for="address">Address</label>
                                      <input id="address" type="text" class="form-control">
                                      <label for="name">City</label>
                                      <input id="city" type="text" class="form-control">
                                      <label for="name">State</label>
                                      <select id="state" class="form-control">
                                          <option selected="selected" value="">--</option>
                                          <option>2</option>
                                          <option>3</option>
                                          <option>4</option>
                                          <option>5</option>
                                      </select>
                                      <label for="name">Zip</label>
                                      <input id="zip" type="text" class="form-control">
                                      <label id="country" for="name">Country</label>
                                      <select class="form-control">
                                          <option selected="selected" value="">--</option>
                                          <option>2</option>
                                          <option>3</option>
                                          <option>4</option>
                                          <option>5</option>
                                      </select>
                                  </div><!--/form-group-->
                                </div><!--/col-->
                            </div><!--/row-->
                                <input type="hidden" name="x_login" value="{{ x_login }}"></input>
                                <input type="hidden" name="x_amount" value="{{ x_amount }}"></input>
                                <input type="hidden" name="x_fp_sequence" value="{{ x_fp_sequence }}"></input>
                                <input type="hidden" name="x_fp_timestamp" value="{{ x_fp_timestamp }}"></input>
                                <input type="hidden" name="x_fp_hash" value="{{ x_fp_hash }}"></input>
                                <input type="hidden" name="x_show_form" value="PAYMENT_FORM"></input>
                                <input type="hidden" name="x_type" value="AUTH_CAPTURE"></input>
                                <input type="hidden" name="x_test_request" value="TRUE"></input>
                                <input type="hidden" id="x_description" name="x_description" value=""></input>
                            </form>
                            <div class="form-group station">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>3. Find your favorite station</h3>
                                        <p>Language that explains that the proceeds from this purchase will go to the station.</p>
                                    </div>

                                    <div class="col-md-8">
                                        <input type="text" id="station-zip" class="form-control" placeholder="enter zip">
                                    </div><!--/col-->

                                    <div class="col-md-4">
                                        <button class="btn btn-default zip-code-find">Find</button>
                                    </div><!--/col-->
                                </div><!--/row-->
                             </div><!--/form group-->
                             <div class="form-group station-results">
                                <div id="station-target"></div>
                                <div class="station row">
                                    <div class="col-md-12">
                                        <div class="radio">
                                          <label>
                                            <input type="radio" name="optionsRadios" value="NOTHANKS">
                                            I do not want to select a station.
                                          </label>
                                        </div>
                                    </div><!--/col-->
                                </div><!-- /station row -->

                             </div><!--/form group-->

                             <button type="submit" class="btn btn-default t-shirt-submit">Continue to billing</button>
                             {{ test_js|safe }}
                             <script type="text/javascript" src="../../js/form.js"></script>