{% extends '_base.html' %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_head_js %}
{% endblock extra_head_js %}

{% block extra_head %}
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
<script>
    WebFont.load({
         custom: {
             families: [
                 'Gotham SSm:n4,n7'
             ],
             urls: [
                 'http://s.npr.org/templates/css/fonts/GothamSSm.css'
             ]
         },
         timeout: 10000
     });
</script>
{% endblock extra_head %}


{% block outer_content %}
<div class="kontext">

    <section id="title" class="layer">
    	<div class="layer-media">
			
			<div class="titlecard">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
						<img src="img/npr-logo.png" class="npr-logo" alt="npr-logo" >
							<h1>{{ COPY.content.project_title }}</h1>
							<h2>{{ COPY.content.project_subtitle }}</h2>
							<button class="btn btn-play">{{ COPY.content.title_play_button_label }}</button>
							<div class="index-nav">
								<ul>
					        		<li class="nav-plants"><p>{{ COPY.plants.fullname }}</p></li>
					                <li class="nav-machines"><p>{{ COPY.machines.fullname }}</p></li>
					                <li class="nav-people"><p>{{ COPY.people.fullname }}</p></li>
					                <li class="nav-ships"><p>{{ COPY.ships.fullname }}</p></li>
					                <li class="nav-you"><p>{{ COPY.you.fullname }}</p></li>
					                <li class="nav-about">{{ COPY.content.about_title }}</li>
					        	</ul>
							</div><!-- /.index-nav -->
						</div><!-- /.col --> 
					</div><!-- /.row -->  
				</div><!-- /.container -->
			</div><!-- /.titlecard --> 

		</div> <!-- /.layer-media -->
    </section>

    <section id="plants" class="layer">

        {% include '_chapter_plants.html' %}

        <div class="btn-next-chapter">
        		<video class="footer-video" preload="metadata" autoplay="autoplay" loop="loop" muted="muted">
                <source src="http://pd.npr.org/npr-mp4/npr/pmvid/2013/10/20131025_pmvid_cottonloop7.mp4" type="video/mp4">
                <source src="http://pd.npr.org/17354/npr-webm/npr/pmvid/2013/10/20131025_pmvid_cottonloop7.webm" type="video/webm">
            </video>
				<div class="next-chapter">
					<h3 class="next-chapter-label"><em>Next Chapter</em> {{ COPY.machines.fullname }} <i class="arrow-right"></i> </h3>
					
				</div>
        </div><!-- /.btn-next-chapter -->
        
    </section>

    <section id="machines" class="layer">

        {% include '_chapter_machines.html' %}

		<div class="btn-next-chapter">
            <div class="next-chapter">
            <h3 class="next-chapter-label"><em>Next Chapter</em> {{ COPY.people.fullname }} <i class="arrow-right"></i> </h3>
            </div>
		</div><!-- /.btn-next-chapter -->

    </section>

    <section id="people" class="layer">

        {% include '_chapter_people.html' %}

        <div class="btn-next-chapter">
			<div class="next-chapter">
                <h3 class="next-chapter-label"><em>Next Chapter</em> {{ COPY.ships.fullname }} <i class="arrow-right"></i> </h3>
			</div>
        </div><!-- /.btn-next-chapter -->

    </section>

    <section id="ships" class="layer">

        {% include '_chapter_ships.html' %}

		<div class="btn-next-chapter">
            <div class="next-chapter">
                <h3 class="next-chapter-label"><em>Next Chapter</em> {{ COPY.you.fullname }} <i class="arrow-right"></i> </h3>
            </div>
		</div><!-- /.btn-next-chapter -->

    </section>

    <section id="you" class="layer">
        {% include '_chapter_you.html' %}
    </section>
    
    <section id="about" class="layer">
        {% include '_chapter_about.html' %}
    </section>
    
    <section id="buy" class="layer">
        {% include '_chapter_buy.html' %}
    </section>
</div>

<nav role="navigation" data-spy="affix">
    <div class="nav-wrapper">
        <h3 id="nav-chapter-title"></h3>
        <h3 id="nav-chapter-title-prompt"></h3>

        <h3 class="btn-chapter">{{ COPY.content.nav_chapter_button_label }} <i class="hamburger"></i></h3>
        <div class="nav-item-wrapper">
            <ul id="nav-secondary">
                <li class="nav-title"><i class="home"></i> {{ COPY.content.nav_home_button_label }} </li>
                <li class="nav-about"><i class="about"></i> {{ COPY.content.about_title }}</li>
            </ul>
            <ul id="nav-primary">
                <li class="nav-plants"><p>{{ COPY.plants.fullname }}</p></li>
                <li class="nav-machines"><p>{{ COPY.machines.fullname }}</p></li>
                <li class="nav-people"><p>{{ COPY.people.fullname }}</p></li>
                <li class="nav-ships"><p>{{ COPY.ships.fullname }}</p></li>
                <li class="nav-you"><p>{{ COPY.you.fullname }}</p></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}


{% block extra_foot_js %}
{{ JS.push('js/lib/signals.js') }}
{{ JS.push('js/lib/hasher.js') }}
{{ JS.push('js/lib/jquery.fitvids.js') }}
{{ JS.push('js/lib/jquery.smooth-scroll.js') }}
{{ JS.push('js/lib/froogaloop.js') }}
{{ JS.push('js/lib/kontext.js') }}
{% endblock extra_foot_js %}

{% block extra_foot %}
<script src="js/lib/d3.v3.min.js"></script>
{% endblock extra_foot %}