{% extends '_base.html' %}

{% block extra_head_js %}
{% endblock extra_head_js %}

{% block extra_head %}
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
<script>
    WebFont.load({
         custom: {
             families: [
                 'Gotham SSm:n4,n7'
             ],
             urls: [
                 'http://s.npr.org/templates/css/fonts/GothamSSm.css'
             ]
         },
         timeout: 10000
     });
</script>
{% endblock extra_head %}


{% block outer_content %}
<div id="content">
    <div class="row title">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Planet Money<br />Makes A T-Shirt</h1>
        </div>
    </div>
    <div class="row seedtoselfie">
        <div class="col-md-10 col-md-offset-1">
            <div class="row triptych">
                <div class="col-sm-4">
                    <img src="img/selfie1-480.jpg" alt="" />
                    <p>Lily: Commutes by bicycle. #seedtoshirt</p>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <img src="img/selfie2-480.jpg" alt="" />
                    <p>Rebecca: Runs five triathlons a year. #seedtoshirt</p>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <img src="img/selfie3-480.jpg" alt="" />
                    <p>Lee: Thinks breakfast is the best meal of the day. #seedtoshirt</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <h2>Seed To Selfie</h2>
            <p>Take a photo of yourself wearing your Planet Money T-shirt. Share it on Instagram, with your name and an interesting fact about yourself. <strong>Tag it #seedtoshirt.</strong></p>
        </div>
    </div>
    <div class="row video">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>Watch The Trailer</h2>
            <div class="video-container">
                <iframe width="600" height="338" src="http://www.npr.org/templates/event/embeddedVideo.php?storyId=245218626&mediaId=245220685" frameborder="0" scrolling="no"></iframe>
            </div>
            <p>Beginning <strong>Monday, December 2</strong>, we will tell the story of our shirt's creation &mdash; here and on NPR's <em>Morning Edition</em> and <em>All Things Considered</em>.</p>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_foot_js %}
{{ JS.push('js/lib/jquery.fitvids.js') }}
{% endblock extra_foot_js %}