{% extends '_base.html' %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_head_js %}
{% endblock extra_head_js %}

{% block extra_head %}
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
<script>
    WebFont.load({
         custom: {
             families: [
                 'Gotham SSm:n4,n7'
             ],
             urls: [
                 'http://s.npr.org/templates/css/fonts/GothamSSm.css'
             ]
         },
         timeout: 10000
     });
</script>
{% endblock extra_head %}


{% block outer_content %}
<div class="kontext">

    <div id="title" class="layer show">
    	<div class="layer-media">

			<div class="titlecard-outer-wrapper">
				<div class="titlecard-wrapper">

					<div class="titlecard">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<h1>Planet Money Makes A T-Shirt</h1>
									<button class="btn-play">play()</button>
									<button class="btn-pause">pause</button>
									<button class="btn-mute">mute</button>
								</div><!-- /.col --> 
							</div><!-- /.row -->  
						</div><!-- /.container -->				
					</div><!-- /.titlecard --> 
		
					<div class="text-below">
						<button id="text-mover">Text Below</button>
					</div>
		
					<div class="video-wrapper">
						<iframe id="video-intro" src="http://player.vimeo.com/video/77175715?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;loop=1;player_id=video-intro" width="400" height="225" frameborder="0"></iframe>
					<!-- IMPORTANT: include the "player_id" param with the ID of your iframe. So: player_id=video -->
					</div><!-- /.video-wrapper --> 
				</div>
			</div><!-- /.titlecard-outer-wrapper --> 

		</div>

        <div class="container explainer">
            <div class="row">
                <div class="col-md-10">

                <h3>Intro Text</h3> 
                <p>amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                </div><!-- /.col --> 
            </div><!-- /.row -->  
        </div><!-- /.container -->
    </div>

    <div id="plants" class="layer">
        <div class="titlecard-outer-wrapper">
            <div class="titlecard-wrapper">
                <div class="titlecard">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Plants</h1>
                                <button class="btn-play">play()</button>
                                <button class="btn-pause">pause</button>
                                <button class="btn-mute">mute</button>
                            </div><!-- /.col --> 
                        </div><!-- /.row -->  
                    </div><!-- /.container -->				
                </div><!-- /.titlecard --> 
        
                <div class="text-below">
                    <button id="text-mover">Text Below</button>
                </div>
        
                <div class="video-wrapper">
                    <iframe id="video-plants" src="http://player.vimeo.com/video/68452933?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;loop=1;player_id=video-plants" width="400" height="225" frameborder="0"></iframe>
                    <!-- IMPORTANT: include the "player_id" param with the ID of your iframe. So: player_id=video -->
                </div><!-- /.video-wrapper --> 
            </div>
        </div><!-- /.filmstrip-outer-wrapper --> 

        <div class="container explainer">
            <div class="row">
                <div class="col-md-10">

                <h3>Plants text</h3> 
                <p>amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                </div><!-- /.col --> 
            </div><!-- /.row -->  
        </div><!-- /.container -->
    </div>

    <div id="robots" class="layer">
        <div class="titlecard-outer-wrapper">
            <div class="titlecard-wrapper">
                <div class="titlecard">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Robots</h1>
                                <button class="btn-play">play()</button>
                                <button class="btn-pause">pause</button>
                                <button class="btn-mute">mute</button>
                                </div><!-- /.col --> 
                        </div><!-- /.row -->  
                    </div><!-- /.container -->				
                </div><!-- /.titlecard --> 
        
                <div class="text-below">
                    <button id="text-mover">Text Below</button>
                </div>
        
                <div class="video-wrapper">
                    <iframe id="video-robots" src="http://player.vimeo.com/video/68098582?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;loop=1;player_id=video-robots" width="400" height="225" frameborder="0"></iframe>
                <!-- IMPORTANT: include the "player_id" param with the ID of your iframe. So: player_id=video -->
                </div><!-- /.video-wrapper --> 
            </div>
        </div><!-- /.filmstrip-outer-wrapper --> 

        <div class="container explainer">
            <div class="row">
                <div class="col-md-10">

                <h3>Robots text</h3> 
                <p>amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                </div><!-- /.col --> 
            </div><!-- /.row -->  
        </div><!-- /.container -->
    </div>

    <div id="humans" class="layer">
        <div class="titlecard-outer-wrapper">
            <div class="titlecard-wrapper">
                <div class="titlecard">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Humans</h1>
                                <button class="btn-play">play()</button>
                                <button class="btn-pause">pause</button>
                                <button class="btn-mute">mute</button>
                                </div><!-- /.col --> 
                        </div><!-- /.row -->  
                    </div><!-- /.container -->				
                </div><!-- /.titlecard --> 
        
                <div class="text-below">
                    <button id="text-mover">Text Below</button>
                </div>
        
                <div class="video-wrapper">
                    <iframe id="video-humans" src="http://player.vimeo.com/video/57280672?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;loop=1;player_id=video-humans" width="400" height="225" frameborder="0"></iframe>
                    <!-- IMPORTANT: include the "player_id" param with the ID of your iframe. So: player_id=video -->
                </div><!-- /.video-wrapper --> 
            </div>
        </div><!-- /.filmstrip-outer-wrapper --> 

        <div class="container explainer">
            <div class="row">
                <div class="col-md-10">

                <h3>Humans text</h3> 
                <p>amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                </div><!-- /.col --> 
            </div><!-- /.row -->  
        </div><!-- /.container -->
    </div>

    <div id="boats" class="layer">
        <div class="titlecard-outer-wrapper">
            <div class="titlecard-wrapper">
                <div class="titlecard">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Boats</h1>
                                <button class="btn-play">play()</button>
                                <button class="btn-pause">pause</button>
                                <button class="btn-mute">mute</button>
                                </div><!-- /.col --> 
                        </div><!-- /.row -->  
                    </div><!-- /.container -->				
                </div><!-- /.titlecard --> 
        
                <div class="text-below">
                    <button id="text-mover">Text Below</button>
                </div>
        
                <div class="video-wrapper">
                    <iframe id="video-boats" src="http://player.vimeo.com/video/47178197?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;loop=1;player_id=video-boats" width="400" height="225" frameborder="0"></iframe>
                    <!-- IMPORTANT: include the "player_id" param with the ID of your iframe. So: player_id=video -->
                </div><!-- /.video-wrapper --> 
            </div>
        </div><!-- /.filmstrip-outer-wrapper --> 

        <div class="container explainer">
            <div class="row">
                <div class="col-md-10">

                <h3>Boats text</h3> 
                <p>amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                </div><!-- /.col --> 
            </div><!-- /.row -->  
        </div><!-- /.container -->
    </div>

    <div id="you" class="layer">
        <div class="titlecard-outer-wrapper">
            <div class="titlecard-wrapper">
                <div class="titlecard">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>You</h1>
                                <button class="btn-play">play()</button>
                                <button class="btn-pause">pause</button>
                                <button class="btn-mute">mute</button>
                                </div><!-- /.col --> 
                        </div><!-- /.row -->  
                    </div><!-- /.container -->				
                </div><!-- /.titlecard --> 
        
                <div class="text-below">
                    <button id="text-mover">Text Below</button>
                </div>
        
                <div class="video-wrapper">
                    <iframe id="video-you" src="http://player.vimeo.com/video/46821766?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;loop=1;player_id=video-you" width="400" height="225" frameborder="0"></iframe>
                    <!-- IMPORTANT: include the "player_id" param with the ID of your iframe. So: player_id=video -->
                </div><!-- /.video-wrapper --> 
            </div>
        </div><!-- /.filmstrip-outer-wrapper --> 

        <div class="container explainer">
            <div class="row">
                <div class="col-md-10">

                <h3>You text</h3> 
                <p>amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                </div><!-- /.col --> 
            </div><!-- /.row -->  
        </div><!-- /.container -->
    </div>
    
    <div id="btn-back" class="btn-sideways">BACK</div>
    <div id="btn-next" class="btn-sideways">NEXT</div>
</div>
{% endblock %}


{% block extra_foot_js %}
{{ JS.push('js/lib/jquery.smooth-scroll.js') }}
{{ JS.push('js/lib/kontext.js') }}
{% endblock extra_foot_js %}

{% block extra_foot %}
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
{% endblock extra_foot %}